<td>
  <span class='d-inline d-md-none <%= icon_classes %> mr-1'></span>
  <span class='paragraph'>
    <% if @validator.nil? %>
      <%= link_to namespaced_path( 'validator', event.validatorlike ) do %>
        <%= event.validatorlike.short_name %>
      <% end -%>
      <%= event.added? ? 'added to' : 'removed from' %>
    <% else -%>
      <%= event.added? ? 'Added to' : 'Removed from' %>
    <% end -%>
    active set
  </span>
</td>
<td>  
  <%= link_to namespaced_path( 'block', event.height ), class: 'technical event-history__block' do %>
    <%= event.height %>
  <% end -%>
</td>
