<% transactions = @block.transaction_objects -%>

<div class='data-table my-5'>
  <div class='data-table__header'>
    <h4 class='data-table__title'>Transactions</h4>
  </div>
  <div class='transactions-table'>
    <table class='border-0' data-empty='<%= transactions.blank? %>'>
      <thead>
        <tr>
          <th>Hash</th>
          <th>Fees</th>
          <th>Gas</th>
          <th>Result</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% if transactions.nil? -%>
          <tr>
            <td class='data-table__empty' colspan='5'>Unable to retrieve transaction data.</td>
          </tr>
        <% elsif transactions.empty? -%>
          <tr>
            <td class='data-table__empty' colspan='5'>No transactions in this block.</td>
          </tr>
        <% end -%>

        <% Array(transactions).each do |transaction| -%>
          <tr>
            <td data-order='<%= transaction.hash %>'>
              <span class='technical'><%= transaction.hash.truncate(30) %></span>
            </td>
            <td data-order='<%= transaction.fees_raw %>'>
              <ul class='list-unstyled mb-0'>
                <% if transaction.fees.empty? -%>
                  <span class='text-muted text-lg'>&mdash;</span>
                <% end -%>
                <% transaction.fees.each do |fee| -%>
                  <li><%= fee %></li>
                <% end -%>
              </ul>
            </td>
            <td data-order='<%= transaction.gas_raw %>'>
              <%= transaction.gas %>
            </td>
            <td data-order='<%= transaction.error? ? 'error' : 'success' %>'>
              <% if transaction.error? -%>
                <span class='badge badge-danger' data-toggle='tooltip' title='<%= transaction.error_message %>'>ERROR</span>
              <% else -%>
                <span class='badge badge-success'>SUCCESS</span>
              <% end -%>
            </td>
            <td class='text-right'>
              <%= link_to 'Details...', namespaced_path('block_transaction', transaction.height, tr), class: 'btn btn-outline-primary btn-sm' %>
            </td>
          </tr>
        <% end -%>
      </tbody>
    </table>
  </div>
</div>
