<div class='data-table mb-5'>
  <div class='data-table__header'>
    <h4 class='data-table__title'>Transactions</h4>
  </div>
  <div class='transactions-table'>
    <table data-empty='<%= transactions.blank? %>' class='table'>
      <thead>
        <tr>
          <th>Hash</th>
          <th>Fees</th>
          <th>Gas Limit</th>
          <th>Gas Price</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% if transactions.nil? -%>
          <tr>
            <td class='data-table__empty' colspan='5'>Unable to retrieve transaction data.</td>
          </tr>
        <% elsif transactions.empty? -%>
          <tr>
            <td class='data-table__empty' colspan='5'>No transactions in this block.</td>
          </tr>
        <% end -%>

        <% (transactions||[]).each do |transaction| -%>
          <tr>
            <td data-order='<%= transaction.hash %>'>
              <span class='technical'><%= transaction.public_key.truncate(30) %></span>
            </td>
            <td data-order='<%= transaction.fee %>'>
                <%= oasis_format_amount(transaction.fee) %>
            </td>
            <td data-order='<%= transaction.gas_limit %>'>
              <%= oasis_format_amount(transaction.gas_limit, denom: 'GAS') %>
            </td>
            <td data-order='<%= transaction.gas_price %>'>
              <%= oasis_format_amount(transaction.gas_price, denom: 'GAS') %>
            </td>
            <td class='text-right'>
              <a class='btn btn-outline-primary btn-sm' href='<%= oasis_chain_block_transaction_path(@chain.slug, @block.height, transaction.public_key) %>'>Details...</a>
            </td>
          </tr>
        <% end -%>
      </tbody>
    </table>
  </div>
</div>
