<% content_for :body_class, 'block-show' %>

<%= render partial: '/oasis/shared/chain_header', locals: { summary_link: true } %>

<h2 class='mb-4'>
  <label class='text-muted'>Block</label>
  <span class='technical text-lg'><%= @block.last_block_id_hash %></span>
</h2>

<% if @error %>
  <%= render partial: 'shared/display_error' %>
<% else %>
  <div class='row'>
    <%= render partial: 'shared/block_sidebar', locals: {block: @block} %>

    <div class='col-12 col-md-9 order-1 order-md-0'>
      <%= render partial: 'transactions', locals: {transactions: @transactions} %>
      <%= render partial: 'validators', locals: {validators: @validators} %>
    </div>
  </div>
<% end %>
