<% content_for :body_class, "block-show" %>

<%= render partial: '/mina/base/chain_header', locals: { active_tab: '' } %>
<%= render_flash_messages %>

<div class='container'>
  <div class='content'>
    <h2 class="data-block">
      <label class="data-block__title">Block</label>
      <span class="data-block__value d-block word-break"><%= @block.height %></span>
    </h2>

    <div class='data-block d-flex flex-wrap'>
      <%= render "mina/blocks/show/height",
        block:      @block,
        last_block: @last_block,
        chain:      @chain
      %>
      <%= render "mina/blocks/show/timestamp", block: @block %>
    </div>
    <%= render "mina/blocks/show/details", chain: @chain, block: @block %>
    <%= render "mina/blocks/show/transactions", transactions: @transactions %>
    <%= render "mina/blocks/show/snarkers", snark_jobs: @snark_jobs %>

  </div>
</div>
