<header class='network-chain-header pt-4'>
  <div class="container">

    <div class='d-block d-lg-none mb-5'>
      <%= render partial: '/shared/redesign/search-bar' %>
    </div>

    <%= render "/shared/dh_chain_header_banner" %>

    <div class="d-flex align-items-center flex-wrap">
      <% if network_has_image?(@chain.network_name) -%>
        <%= link_to namespaced_path(chain: @chain), class: 'chains-list__card-link' do %>
          <%= image_tag network_image(@chain.network_name), class: "#{@chain.network_name.downcase}-img" %>
        <% end -%>
      <% else -%>
        <p class='logo-fallback'><%= @chain.network_name %></p>
      <% end -%>
      <div class="network-chain-header-arrow mx-3">→</div>

      <% if !@no_chain_select && grouped_visible_chains.any? %>
        <div class='dropdown chain-select'>
          <button class='dropdown-toggle' id='chain-menu-link' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
            <%= @chain.name %>
          </button>
          <div class='dropdown-menu' aria-labelledby='chain-menu-link'>
            <% grouped_visible_chains.each do |network, chains| -%>
              <div class='dropdown-label'><%= network %></div>
              <% chains.each do |chain| -%>
                <% path = controller_name == 'dashboard' ? namespaced_path( 'dashboard', chain: chain ) : namespaced_path( chain: chain ) -%>
                <%= link_to path, class: "dropdown-item #{'current-chain' if chain == @chain}" do %>
                  <%= chain.name %>
                <% end -%>
              <% end -%>
              <div class='dropdown-divider'></div>
            <% end -%>
          </div>
        </div>
      <% end -%>
    </div>

    <div class="sync d-flex flex-wrap">
      <div class="mr-4">
        <p class="text-label">Last Synced</p>
        <p class="paragraph m-0">
          <%= @chain.last_sync_time ? "#{distance_of_time_in_words(Time.now, @chain.last_sync_time, true, highest_measures: 2)} ago" : 'Never' -%>
        </p>
      </div>
      <div class="mr-4">
        <p class="text-label">Sync Interval</p>
        <p class="paragraph m-0">
          <%= distance_of_time_in_words(@chain.class::SYNC_INTERVAL) -%>
        </p>
      </div>
      <%= link_to 'Sync Log', namespaced_path('logs'), class: "sync__link" %>
    </div>

    <div class='tabs'>
      <% if @chain -%>
        <%= render partial: 'shared/redesign/chain_header_link', locals: { active_tab: active_tab, link_text: 'Validators', link_path: namespaced_path } %>
        <% if current_admin -%>
          <%= render partial: 'shared/redesign/chain_header_link', locals: { active_tab: active_tab, link_text: 'Admin', link_path: namespaced_path(admin: true) } %>
        <% end -%>
        <% if defined?(faucet_link) && @chain.faucet && @chain.faucet.enabled? -%>
          <%= render partial: 'shared/redesign/chain_header_link', locals: { active_tab: active_tab, link_text: 'Faucet', link_path: namespaced_path('faucet') } %>
        <% end -%>
        <% if defined?(events_link) -%>
          <%= render partial: 'shared/redesign/chain_header_link', locals: { active_tab: active_tab, link_text: 'Events', link_path: namespaced_path('events') } %>
        <% end -%>
        <% if defined?(tx_search_link) && @chain.has_attribute?(:tx_search_enabled) %>
          <%= render partial: 'shared/redesign/chain_header_link', locals: { active_tab: active_tab, link_text: 'Search', link_path: namespaced_path('transactions') } %>
        <% end %>
        <% if defined?(reports_link) -%>
          <% if @chain.has_csir? -%>
            <%= link_to 'Reports', 'https://app.figment.io/csir', class: "tabs__link", target: "_blank" %>
          <% end -%>
        <% end -%>
        <% if defined? governance_link -%>
          <%= render partial: 'shared/redesign/chain_header_link', locals: { active_tab: active_tab, link_text: 'Proposals', link_path: namespaced_path('governance_root') } %>
        <% end -%>
        <% if defined? summary_link -%>
          <%= render partial: 'shared/redesign/chain_header_link', locals: { active_tab: active_tab, link_text: 'Summary', link_path: namespaced_path } %>
        <% end -%>
      <% end -%>
    </div>
  </div>
</header>

<% if !@chain.notes.blank? -%>
  <div class='alert alert-info chain-notes d-flex align-items-center'>
    <span class='fas fa-fw fa-info-circle mr-2'></span>
    <%= render_markdown(@chain.notes) %>
  </div>
<% end -%>
