<% chains = chains.order('position DESC NULLS LAST') -%>

<table class='table m-0'>
  <thead>
    <tr class='bg-light'>
      <th class='pl-3 pt-2 pb-2 w-auto'>Name</th>
      <th class='pl-3 pt-2 pb-2' width='15%'>Ind. Ver.</th>
      <th class='pl-3 pt-2 pb-2' width='15%'>Status</th>
      <th class='pl-3 pt-2 pb-2' width='20%'>Latest Height</th>
      <th class='pl-3 pt-2 pb-2' width='20%'>Latest Sync</th>
      <th class='pl-3 pt-2 pb-2' width='15%'>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% if chains.empty? -%>
      <tr><td colspan='6' class='text-center py-5'><span class='text-muted'>No chains yet.</span></td></tr>
    <% end -%>

    <% chains.each do |chain| -%>
      <% latest_block = chain.client.status %>
      <tr>
        <td class='align-middle pl-3'>
          <a href='<%= namespaced_path( chain: chain, admin: true ) %>'>
            <span class='text-lg'><%= chain.name %></span>
          </a>

          <% if chain.primary? -%>
            <span class='fas fa-star text-primary' data-toggle='tooltip' data-tooltip-side='top'title='Primary Chain'></span>
          <% end -%>
          <% if chain.testnet? -%>
            <span class='fas fa-vial text-info' data-toggle='tooltip' data-tooltip-side='top' title='Testnet Chain'></span>
          <% else -%>
            <span class='fas fa-link text-success' data-toggle='tooltip' data-tooltip-side='top'title='Mainnet Chain'></span>
          <% end -%>
          <% if chain.enabled? -%>
            <span class='fas fa-sync fa-spin text-success' data-toggle='tooltip' data-tooltip-side='top'title='Syncing'></span>
          <% elsif chain.dead? -%>
            <span class='fas fa-skull-crossbones text-dark' data-toggle='tooltip' data-tooltip-side='top'title='Dead'></span>
          <% else -%>
            <span class='fas fa-exclamation-triangle text-warning' data-toggle='tooltip' data-tooltip-side='top'title='Disabled'></span>
          <% end -%>
        </td>
        <td class='align-middle pl-3'>
          <b><%= latest_block.app_version %></b>
        </td>
        <td class='align-middle pl-3'>
          <b><%= latest_block.status %></b>
        </td>
        <td class='align-middle pl-3'>
          <b><%= latest_block.last_indexed_height %></b> blocks
        </td>
        <td class='align-middle pl-3'>
            <div class='text-danger'><%= time_ago_in_words latest_block.last_indexed_time, highest_measure_only: true %></div>
        </td>

        <td class='text-right'>
          <%= button_to namespaced_path( 'move_up', pre_path: true, admin: true, chain: chain ), method: 'post', class: 'btn btn-sm btn-outline-secondary', form: { class: 'd-inline' } do %>
            <span class='fas fa-arrow-up'></span>
          <% end -%>
          <%= button_to namespaced_path( 'move_down', pre_path: true, admin: true, chain: chain ), method: 'post', class: 'btn btn-sm btn-outline-secondary', form: { class: 'd-inline' } do %>
            <span class='fas fa-arrow-down'></span>
          <% end -%>
          <a class='btn btn-sm btn-outline-secondary' href='<%= namespaced_path( chain: chain, admin: true ) %>'><span class='fas fa-edit'></span></a>
          <a class='btn btn-sm btn-outline-secondary' href='<%= namespaced_path( chain: chain ) %>'><span class='fas fa-eye'></span></a>
        </td>
      </tr>
    <% end -%>
  </tbody>
</table>
