<a name='events'></a>
<div class='data-table mb-4'>
  <div class='data-table__header d-flex justify-content-between align-items-center'>
    <h3 class='data-table__title'>Event History</h3>
    <% if !current_user -%>
      <div data-toggle='tooltip' title='Sign up to subscribe to alerts!'>
        <%= link_to 'Subscribe', new_user_path, class: "button-secondary" %>
      </div>
    <% else -%>
      <%= link_to namespaced_path( 'validator_subscriptions', @validator ), class: "button-secondary" do %>
        <%= current_user.subscribed_to?(@validator) ? 'Edit Subscription' : 'Subscribe to Alerts' %>
      <% end -%>
    <% end -%>
  </div>

  <div>
    <% events = @validator.events.where( 'timestamp >= ?', (@chain.cutoff_at || Time.at(0)) ) -%>
    <% if events.empty? -%>
      <p class='data-table__empty'>No events yet.</p>
    <% else -%>
      <div class="table-responsive ">
        <table class="w-100 event-history">
          <thead>
            <tr>
              <th>EVENT</th>
              <th>BLOCK</th>
              <th>DATE</th>
            </tr>
          </thead>
          <tbody>
            <% events.limit(20).each do |event| -%>
              <tr>
                <%= render partial: event.to_partial_path, locals: { event: event, icon_classes: nil } %>
                <td>
                  <div class='d-flex align-items-center justify-content-between'>
                    <%= link_to namespaced_path( 'event', event ), class: "event-history__date" do %>
                      <% date_string = event.timestamp.strftime("%B %d, %Y") -%>
                      <% time_string = event.timestamp.strftime("at %H:%M %Z") -%>
                      <%= date_string %>
                      <%= time_string %>
                    <% end -%>
                    <% if current_admin -%>
                    <div class='ml-3'>
                      <%= button_to admin_common_validator_event_path(event), method: 'delete', class: 'text-danger btn btn-link px-0', form: { class: 'd-inline' } do %>
                        <span class='fas fa-times'></span>
                      <% end -%>
                    </div>
                  <% end -%>
                  </div>
                </td>
              </tr>
            <% end -%>
            <% if events.count > 20 -%>
              <tr>
                <td colspan="3">
                  <%= link_to 'Load More', namespaced_path( 'events', validator: @validator ), class: "" %>
                </td>
              </tr>
            <% end -%>
          </tbody>
        </table>
      </div>
    <% end -%>
  </div>
</div>
