<% content_for :body_class, 'chain-show' %>

<%= render partial: '/mina/base/chain_header', locals: { active_tab: 'Summary' } %>
<%= render_flash_messages %>

<div class='container'>
  <div class='content'>
    <%= render "chain_status", status: @status %>
    <div class='row info-cards'>
      <div class='col-12 col-md-9 order-1 order-md-0'>
        <div class="row">
          <div class='col-lg-6 mb-5'>
            <%= render "mina/chains/show/validators_chart", validators: @validators, validator_intervals: @block_stats.validators_chart_data %>
          </div>
          <div class='col-lg-6 mb-5'>
            <%= render "mina/chains/show/block_times",
              block_times:     @block_times,
              block_intervals: @block_stats.blocks_chart_data
            %>
          </div>
          <div class='col-lg-6 mb-5'>
            <%= render "mina/chains/show/transactions", stats: @tx_stats if @tx_stats %>
          </div>
        </div>

        <%= render "mina/chains/show/validators",
          validators:          @validators,
          validator_intervals: @block_stats.validators_chart_data,
          validator_pool:      @pool
        %>
      </div>
      <div class='col-12 col-md-3 order-0 order-md-1 info-cards'>
        <%= render "mina/chains/show/block",
          chain: @chain,
          block: @block
        %>

        <%= render "mina/chains/show/pool",
          block:          @block,
          validator_pool: @pool
        %>
      </div>
    </div>
  </div>
</div>
