<% content_for :body_class, 'transaction-index' -%>

<%= render partial: '/cosmoslike/redesign/shared/chain_header', locals: { active_tab: 'Search', events_link: true, tx_search_link: true, reports_link: true } %>
<%= render_flash_messages %>

<div class="content mt-0 pt-0">
  <div class="container">
    <div class='data-table'>
      <div class='data-table__header'>
        <h4 class='data-table__title'>Filter Transactions</h4>
      </div>
      <div class='transactions-table my-3'>
        <%= render "cosmoslike/redesign/transactions/index/search", search_form: @search_form, chain: @chain %>
      </div>
    </div>
  </div>
</div>

<div class="content mt-0 pt-0">
  <div class="container">
    <div class='data-table my-5'>
      <div class='data-table__header'>
        <!-- <h4 class='data-table__title'>Transactions</h4> -->
        <%= render "cosmoslike/redesign/transactions/index/pagination.html.erb", current_page: @current_page %>
      </div>
      <div class='transactions-table'>
        <table class='table border-0' data-empty='<%= @transactions.blank? %>'>
          <thead>
            <tr>
              <th>Chain</th>
              <th>Type</th>
              <th>Block</th>
              <th>Date</th>
              <th>Memo</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <% if @transactions.any? %>
              <%= render "cosmoslike/redesign/transactions/index/table", search_form: @search_form, transactions: @transactions, limit:@search_form.limit %>
            <% else %>
              <tr>
                <td colspan='9' class='text-center'>No transactions found</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <%= render "cosmoslike/redesign/transactions/index/pagination.html.erb", current_page: @current_page %>
  </div>
</div>
