<div class='data-table'>
  <div class='data-table__header'>
    <h3 class="data-table__title">Events</h3>
  </div>
  <div class='table-responsive'>
    <table class='w-100'>
      <thead>
      <tr>
        <th>Event</th>
        <th>Block</th>
        <th>Date</th>
      </tr>
      </thead>
      <tbody>
        <% if @events.records.blank? -%>
          <tr>
            <td class='data-table__empty' colspan='3'>No events yet.</td>
          </tr>
        <% else -%>
          <% @events.records.each do |event| -%>
            <tr class="events-table">
              <td>
                <span>
                  <%= event_emote(event) %> <%= link_to event.item_id, near_chain_validator_path( @chain, event.item_id ), class: "font-weight-bold" %> <%= format_event_data(event) %>
                </span>
              </td>
              <td>
                <%= link_to event.block_height, near_chain_block_path( @chain, event.block_height ), class: 'technical event-history__block' %>
              </td>
              <td>
                <div class='d-flex align-items-center justify-content-between'>
                  <%= format_date(event.created_at) %>
                </div>
              </td>
            </tr>
          <% end -%>
        <% end -%>
      </tbody>
    </table>
  </div>
</div>
<%= render 'near/shared/events_pagination' %>
