<% content_for :body_class, "transaction-index" %>

<%= render "chain_header", summary_link: true %>
<%= render_flash_messages %>

<h2 class="mb-3">
  <label class="text-muted">Transaction Search</label>
</h2>

<%= render_card "Filter Transactions", class: "transactions-search-form" do %>
  <%= render "mina/transactions/index/search",
    search_form: @search_form,
    chain: @chain
  %>
<% end %>

<%= render_card "Search Results", body_class: "no-padding" do %>
  <div class="transactions-search-results">
    <% if @transactions.any? %>
      <%= render "mina/transactions/index/table", transactions: @transactions %>
      <%= render "mina/transactions/index/pagination", search_form: @search_form, transactions: @transactions %>
    <% else %>
      <div class="text-empty">No transactions found</div>
    <% end %>
  </div>
<% end %>
