<% content_for :body_class, "transaction-index" %>

<%= render partial: '/mina/base/chain_header', locals: { active_tab: 'Transaction Search' } %>
<%= render_flash_messages %>

<div class='container'>
  <div class='content'>
    <div class='data-table transactions-search-form'>
      <div class='data-table__header'>
        <h3 class='data-table__title'>Filter Transactions</h3>
      </div>
      <div class='px-3 pb-4'>
        <%= render "mina/transactions/index/search",
          search_form: @search_form,
          chain: @chain
        %>
      </div>
    </div>

    <div class='data-table'>
      <div class='data-table__header'>
        <h3 class='data-table__title'>Search Results</h3>
      </div>
      <div class="transactions-search-results">
        <% if @transactions.any? %>
          <%= render "mina/transactions/index/table", transactions: @transactions %>
          <%= render "mina/transactions/index/pagination", search_form: @search_form, transactions: @transactions %>
        <% else %>
          <div class="data-table__empty">No transactions found</div>
        <% end %>
      </div>
    </div>
  </div>
</div>
