<% content_for :body_class, "transaction-show" %>

<%= render "chain_header", summary_link: true %>
<%= render_flash_messages %>

<h2 class="mb-3">
  <label class="text-muted">Tx</label>
  <%= @transaction.hash.truncate(30) %>
</h2>

<div class="row info-cards">
  <div class="col-12 col-md-9 order-1 order-md-0">
    <%= render "mina/transactions/show/details", transaction: @transaction, chain: @chain %>
  </div>
  <div class="col-12 col-md-3 order-0 order-md-1 info-cards">
    <%= render "mina/transactions/show/height", transaction: @transaction %>
  </div>
</div>
