<div class='data-block'>
  <div class='d-flex justify-content-between align-content-center mb-2'>
    <h3 class='data-block__title m-0'>Blocks</h3>
    <span class='text-label'>Last 50</span>
  </div>
  <div class='block-heatmap-container'>
    <div class='block-heatmap'>
      <% validator.last_sequences.reverse_each do |block| -%>
        <% precommitted = block['precommit_validated'] -%>
        <% proposed = block['proposed'] -%>
        <a class='block <%= precommitted ? 'ok' : 'missed' %> <%= proposed ? 'proposed' : '' %>'
            href='<%= oasis_chain_block_path( chain.slug, block['height'] ) %>'
            title="Block <%= block['height'] %> <span class='fas fa-arrow-right text-sm text-muted mx-2'></span> <span class='badge badge-<%= precommitted ? 'success' : 'danger' %>'><%= precommitted ? 'OK' : 'MISSED' %></span>"></a>
      <% end -%>
    </div>
  </div>
</div>
