<% content_for :body_class, 'validator-show' %>

<%= render partial: '/oasis/shared/chain_header', locals: { new_reports_link: true, active_tab: '' } %>

<div class='validator-header pb-4'>
  <div class='container'>
    <h2 class='validator-header__title'>Validator</h2>
    <p class='data-block__value d-block word-break mt-2'><%= @validator.long_name %></p>
  </div>
</div>


<div class='container'>
  <div class='content'>
    <%= render partial: '/oasis/shared/sync_errors' %>
    <% if @error %>
      <%= render partial: 'shared/display_error' %>
    <% else %>
      <div class='row'>
        <div class='col-md-12 col-lg-6 mb-4 pb-2'>
          <%= render partial: 'current_voting_power', locals: {chain: @chain, validator: @validator} %>
          <%= render partial: 'lifetime', locals: {validator: @validator} %>
          <%= render partial: 'entity_id', locals: {validator: @validator} %>
          <%= render partial: 'big_charts', locals: {chain: @chain, validator: @validator} %>
          <%= render partial: 'delegations', locals: {delegations: @validator.delegations} %>
        </div>

        <div class='col-md-12 col-lg-6'>
          <%= render partial: 'sidebar', locals: {validator: @validator, chain: @chain} %>
          <%= render partial: 'events', locals: {events: @events, validator: @validator} %>
        </div>
      </div>
    <% end %>
  </div>
</div>
