<% content_for :body_class, 'chain-show' %>

<%= render "/shared/dh_banner_script" %>
<%= render partial: "shared/chain_header", locals: { active_tab: 'Validators' } %>
<div class='content'>
  <div class='container'>
    <%= render_flash_messages %>
    <div class='row info-cards'>
      <div class='col-12 col-md-9 order-1 order-md-0'>
            <%= render "avalanche/chains/sections/validators_stake_charts",
                       validators_daily_stake: @validators_daily_stake,
                       validators_hourly_stake: @validators_hourly_stake,
                       chain: @chain
            %>

        <div>
          <%= render "avalanche/chains/sections/validators",
                        validators: @validators
          %>
        </div>
      </div>
      <div class='col-12 col-md-3 order-0 order-md-1 info-cards'>
        <%= render "avalanche/chains/sections/network_stats",
                    validators: @validators,
                    stats_daily: @network_stats_daily[0]
        %>
        <%= render "/shared/dh_sidebar_banner" %>
      </div>
    </div>
  </div>
</div>
