<div class='data-table'>
  <div class='data-table__header'>
    <h3 class='data-table__title'>Transactions</h3>
  </div>
  <table class="table transactions mb-0">
    <thead>
    <tr role="row">
      <th>Type</th>
      <th>From</th>
      <th>To</th>
      <th>Amount</th>
      <th>Fee</th>
      <th width="10%"></th>
    </tr>
    </thead>
    <tbody>
    <% if transactions.any? %>
      <% transactions.each_with_index do |tx, idx| %>
        <tr>
          <td><%= tx.formatted_type %></td>
          <td><%= link_to tx.sender.truncate(10), mina_chain_account_path(@chain, tx.sender) if tx.sender %></td>
          <td><%= link_to tx.receiver.truncate(10), mina_chain_account_path(@chain, tx.receiver) %></td>
          <td><%= format_amount tx.amount %></td>
          <td><%= format_amount tx.fee if tx.fee %></td>
          <td class="text-right"><%= link_to "details", mina_chain_transaction_path(@chain, tx.hash), class: "btn btn-outline-primary btn-sm" %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan='5' class='data-table__empty'>
          No transactions in this block
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
