<% if stale_data %>
  <div class='alert alert-warning'>
    Validators for this block are stale and will be updated when current Era ends
  </div>
<% end %>

<section class='data-table validators'>
  <div class='validator-table-header justify-content-between py-1 flex-wrap'>
    <div class='d-flex align-items-center flex-grow-1 py-2'>
      <h4>Validators</h4>
      <input type='text' class='form-control form-control-sm validator-search' placeholder='filter validators...'>
    </div>
    <div class='controls'>
      <div class='d-flex align-items-center py-2'>
        <div class="custom-control custom-radio mr-4">
          <input class="custom-control-input" type="radio" name="validator-filter" id="filterAll" value='_all_' checked>
          <label class="custom-control-label" for="filterAll">All</label>
        </div>
        <div class="custom-control custom-radio mr-4">
          <input class="custom-control-input" type="radio" name="validator-filter" id="filterActive" value='_active_'>
          <label class="custom-control-label" for="filterActive">
            Active
          </label>
        </div>
        <div class="custom-control custom-radio">
          <input class="custom-control-input" type="radio" name="validator-filter" id="filterInactive" value='_inactive_'>
          <label class="custom-control-label" for="filterInactive">
            Inactive
          </label>
        </div>
      </div>
      <script>
        App.config.currentValidatorFilter = '_all_'
      </script>
    </div>
  </div>

  <div class='validator-table'>
    <table>
      <thead>
      <tr>
        <th>Address/Name</th>
        <th>Total stake</th>
        <th>Commission</th>
        <th>Uptime</th>
        <th>State</th>
        <th class='d-none'></th>
      </tr>
      </thead>
      <tbody>
      <% validators.each do |validator| -%>
        <tr>
          <td class='col-address' data-order='<%= validator.stash_account %>'>
            <%= link_to namespaced_path('validator', validator.stash_account) do %>
              <strong><%= validator.display_name.truncate(38) %></strong>
            <% end -%>
          </td>
          <td data-order='<%= validator.total_stake %>'>
            <%= format_amount(validator.total_stake, @chain, denom: @chain.class::DEFAULT_TOKEN_REMOTE) %>
          </td>
          <td class="text-right technical" data-order='<%= rounded_percentage(validator.factored_commission) %>'>
            <%= rounded_percentage(validator.factored_commission) %> %
          </td>
          <td data-order='<%= validator.uptime %>' class='technical'><%= round_if_whole(validator.uptime * 100, 2) %>
            %
          </td>
          <td data-order='<%= validator.online? %>'>
            <% if validator.online? -%>
              <span class='badge badge-lg badge-success'>UP</span>
            <% else -%>
              <span class='badge badge-lg badge-danger'>DOWN</span>
            <% end -%>
          </td>
          <td class='d-none'>
            _all_ <%= validator.online? ? '_active_' : '_inactive_' %>
            <%= validator.stash_account %>
            <%= validator.display_name %>
          </td>
        </tr>
      <% end -%>
      </tbody>
    </table>
  </div>
</section>
