<% content_for :body_class, 'chain-show' %>

<%= render partial: 'shared/chain_header', locals: { active_tab: 'Validators' } %>

<%= render_flash_messages %>

<div class="container">
  <div class="content">
    <div class='row info-cards'>
      <div class='col-12 col-md-9 order-1 order-md-0'>
        <div class="row">
          <%= render partial: 'validator_groups_summary', locals: {
              validator_groups_summary: @validator_groups_summary,
              current_groups_summary_total: @current_groups_summary_total,
              chain: @chain } %>

          <%= render partial: 'blocks_summary', locals: {
              blocks_summary: @blocks_summary, average_block_time: @average_block_time,
              chain: @chain } %>
        </div>

        <%= render partial: 'celo/shared/validator_groups', locals: { validator_groups: @validator_groups } %>
      </div>


      <div class='col-12 col-md-3 order-0 order-md-1 info-cards mb-5'>
        <div class='data-block'>
          <h5 class='data-block__title'>Current Block</h5>
          <div>
            <%= link_to celo_chain_block_path(@chain.slug, @height), class: 'large-number' do %>
              <span class='technical'><%= @height %></span>
            <% end %>
            <div class=''>
              <small class='text-muted'>
                <%= @last_block_time.strftime('%Y-%m-%d %H:%M %Z') %>
                <br/>
                <%= time_ago_in_words(@last_block_time, true) %> ago
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
