<% content_for :body_class, 'chain-show' %>

<%= render partial: 'celo/shared/chain_header', locals: { summary_link: true } %>

<%= render_flash_messages %>

<div class='row info-cards'>
  <div class='col-12 col-md-9 order-1 order-md-0'>
    <%= render partial: 'celo/shared/validator_groups', locals: { validator_groups: @validator_groups } %>
  </div>

  <div class='col-12 col-md-3 order-0 order-md-1 info-cards'>
    <div class='card'>
      <h5 class='card-header'>Current Block</h5>
      <div class='card-body'>
        <%= link_to '#', class: 'large-number' do %>
          <span class='technical'><%= @height %></span>
        <% end %>
        <div class='sub-info'>
          <small class='text-muted technical'><%= @last_block_time.strftime('%Y-%m-%d %H:%M %Z') %></small>
          <small class='text-muted'><%= time_ago_in_words(@last_block_time, true) %> ago</small>
        </div>
      </div>
    </div>

    <%= render partial: 'validator_groups_summary', locals: { validator_groups_summary: @validator_groups_summary, chain: @chain } %>

    <%= render partial: 'blocks_summary', locals: { blocks_summary: @blocks_summary,
        average_block_time: @average_block_time, chain: @chain } %>
  </div>
</div>
