<%= bootstrap_form_for search_form, as: :search, method: :get, url: mina_chain_transactions_path(chain) do |f| %>
  <%= f.hidden_field :before_id, value: "" %>

  <div class="row">
    <div class="col-md-2">
      <%= f.collection_check_boxes :type, Mina::Transaction::TYPE_NAMES, :first, :last %>
    </div>
    <div class="col-md-5">
      <%= f.text_field :account, label: "Account (Sender/Receiver)" %>
      <div class="show-opts">
        <%= f.collection_radio_buttons :show, mina_tx_include_opts, :first, :last, label: "Include Transactions", inline: true %>
      </div>
    </div>
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-6">
          <%= f.text_field :start_time, label: "Start Date", placeholder: "Please Select", class: "flatpickr" %>
        </div>
        <div class="col-md-6">
          <%= f.text_field :end_time, label: "End Date", placeholder: "Please Select", class: "flatpickr" %>
        </div>
      </div>
      <%= f.text_field :memo, label: "Tx Memo" %>
    </div>
  </div>

  <%= f.submit "Search", class: "btn btn-primary" %>
  <%= link_to "Reset Filters", request.path, class: "btn btn-link" %>
<% end %>
