<section class="data-table validators">
  <div class='validator-table-header justify-content-between py-1 flex-wrap'>
    <div class="d-flex align-items-center flex-grow-1 py-2">
      <h4>
        Validators
      </h4>
      <input type='text' class='form-control form-control-sm validator-search' placeholder='filter validators...'>
    </div>

    <div class='controls'>
      <div class='d-flex align-items-center py-2'>
        <div class="custom-control custom-radio mr-4">
          <input class="custom-control-input" type="radio" name="validator-filter" id="filterAll" value='_all_' checked>
          <label class="custom-control-label" for="filterAll">All</label>
        </div>
        <div class="custom-control custom-radio mr-4">
          <input class="custom-control-input" type="radio" name="validator-filter" id="filterActive" value='_active_'>
          <label class="custom-control-label" for="filterActive">
            Active
          </label>
        </div>
        <div class="custom-control custom-radio">
          <input class="custom-control-input" type="radio" name="validator-filter" id="filterInactive" value='_inactive_'>
          <label class="custom-control-label" for="filterInactive">
            Inactive
          </label>
        </div>
      </div>
    </div>

  </div>

  <div class='validator-table'>
    <table>
      <thead>
        <tr>
          <th>Address/Name</th>
          <th width="20%">Blocks</th>
          <th width="15%">Efficiency</th>
          <th>Stake</th>
          <th>Reward Fee</th>
          <th class='d-none'></th>
        </tr>
      </thead>
      <tbody>
        <% @validators.each do |v| %>
          <tr>
            <td class='col-address' data-order="<%= v.account_id %>">
              <span
                class='fa fa-circle status-icon <%= v.status %>'
                data-toggle='tooltip'
                data-tooltip-side='top'
                title='Last seen active <%= time_ago_in_words v.last_time %> ago'>
              </span>
              <a href='<%= near_chain_validator_path(@chain, id: v.account_id) %>'>
                <strong><%= v.account_id.truncate(30) %></strong>
              </a>
            </td>
            <td data-order='<%= v.produced_blocks %>'>
              <%= v.produced_blocks %>/<%= v.expected_blocks %>
            </td>
            <td data-order='<%= v.efficiency * 100 %>' class='technical'>
              <%= v.efficiency.round(2) %>%
            </td>
            <td data-order='<%= v.stake %>'>
              <%= format_amount(v.stake, denom: "near") %>
            </td>
            <td data-order='<%= v.reward_fee %>'>
              <%= v.reward_fee %>
            </td>
            <td class='d-none'>
              _all_ <%= v.active? ? '_active_' : '_inactive_' %>
              <%= v.account_id %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</section>
