<section class="validators">
  <div class='validator-table-header'>
    <h4>
      Validators
      <small>&nbsp;&mdash; <%= @validators.size %> total&nbsp;</small>
      <div class='tiny-average-active-validators-chart-container'>
        <canvas class='average-active-validators-chart'></canvas>
      </div>
      <script>
        App.config.currentValidatorFilter = '_active_';
        App.seed.AVERAGE_ACTIVE_VALIDATORS = <%= validator_intervals.to_json.html_safe %>
      </script>
    </h4>

    <div class='controls'>
      <input type='text' class='form-control form-control-sm validator-search' placeholder='filter validators...'>
      <a tabindex=0 class='btn btn-sm btn-outline-light validator-table-settings-target'><span class='fas fa-cog'></span></a>
      <div class='validator-table-settings d-none'>
        <div class='btn-group' role='group' aria-label='Validator table filter'>
          <button type='button' data-target='_all_' class='btn btn-outline-primary'>All</button>
          <button type='button' data-target='_active_' class='btn btn-outline-primary'>Active</button>
          <button type='button' data-target='_inactive_' class='btn btn-outline-primary'>Inactive</button>
        </div>
      </div>
    </div>
  </div>

  <div class='validator-table'>
    <table class='table-striped'>
      <thead>
        <tr>
          <th>Address/Name</th>
          <th>Expected Blocks</th>
          <th>Produced Blocks</th>
          <th>Efficiency</th>
          <th class='d-none'></th>
        </tr>
      </thead>
      <tbody>
        <% @validators.each do |v| %>
          <tr>
            <td data-order="<%= v.account_id %>">
              <span
                class='fa fa-circle status-icon <%= v.status %>'
                data-toggle='tooltip'
                data-tooltip-side='top'
                title='Last seen active <%= time_ago_in_words v.last_time %> ago'>
              </span>
              <a href='<%= near_chain_validator_path(@chain, id: v.account_id) %>'>
                <strong><%= v.account_id.truncate(30) %></strong>
              </a>
            </td>
            <td data-order='<%= v.expected_blocks %>'>
              <%= v.expected_blocks %>
            </td>
            <td data-order='<%= v.produced_blocks %>'>
              <%= v.produced_blocks %>
            </td>
            <td data-order='<%= v.efficiency * 100 %>' class='technical'>
              <%= v.efficiency.round(2) %>%
            </td>
            <td class='d-none'>
              _all_ <%= v.active? ? '_active_' : '_inactive_' %>
              <%= v.account_id %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
