<section class='data-table'>
  <div class='data-table__header'>
    <h3 class="data-table__title">
      Epoch Performance
    </h3>
  </div>
  <div>
    <table class="w-100">
      <thead>
        <tr role="row">
          <th>Time</th>
          <th>Epoch</th>
          <th>Expected</th>
          <th>Produced</th>
          <th>Efficiency</th>
        </tr>
      </thead>
      <tbody>
        <% epochs.each_with_index do |epoch, idx| %>
          <tr class='<%= near_epoch_efficiency_color(epoch.efficiency) %>'>
            <td class='technical' data-order="<%= idx %>"><%= epoch.last_time %></div>
            <td class='technical'><small><%= epoch.epoch.truncate(30) %></small></td>
            <td class='technical'><%= epoch.expected_blocks %></td>
            <td class='technical'><%= epoch.produced_blocks %></td>
            <td class='technical' data-order="<%= epoch.efficiency %>"><%= epoch.efficiency.round(2) %>%</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
