<% content_for :body_class, "validator-show" %>

<%= render "/shared/dh_banner_script" %>
<%= render partial: "shared/chain_header", locals: { active_tab: '' } %>

<div class='validator-header'>
  <div class='container'>
    <h2 class='mb-4 validator-header__title mr-0'>
      <%= @validator.account_id %>
    </h2>
  </div>
</div>

<%= render_flash_messages %>

<div class='content'>
  <div class='container'>
    <div>
      <div class="row">
        <div class="col-md-12 col-lg-6 mb-5 mb-lg-0">
          <%= render "staking", account: @validator.account %>
        </div>
        <div class="col-md-12 col-lg-6">
          <%= render "epoch_perfomance_chart", performance_chart: @performance_chart %>
        </div>
      </div>
        <div class="row">
          <div class="col-md-12 col-lg-6">
            <div class="data-block"></div>
            <div class="data-block">
              <%= render "lifetime", validator: @validator %>
            </div>
          </div>
          <div class="col-md-12 col-lg-6">
            <div class="data-block"></div>
            <div class="data-block">
              <%= render "blocks", blocks: @validator.blocks, account_id: @validator.account_id %>
            </div>
          </div>
        </div>
      <% if @delegations.empty? -%>
        <br><p class="text-label validator-info__label">This Address has no Active Delegations</p><br>
      <% else -%>
        <%= render "delegations", delegations: @delegations %>
      <% end -%>
      <div class='mt-2'>
        <%= render "epochs", epochs: @validator.epochs %>
      </div>
    </div>
  </div>
</div>
