<div class='data-table mb-5'>
  <div class='data-table__header'>
    <h4 class='data-table__title'>Transactions</h4>
  </div>
  <div>
    <table class='w-100' data-empty='<%= transactions.blank? %>'>
      <thead>
      <tr>
        <th>Hash</th>
        <th>Result</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% if transactions.nil? -%>
        <tr>
          <td class='data-table__empty' colspan='5'>Unable to retrieve transaction data.</td>
        </tr>
      <% elsif transactions.empty? -%>
        <tr>
          <td class='data-table__empty' colspan='5'>No transactions in this block.</td>
        </tr>
      <% end -%>

      <% transactions.each do |transaction| -%>
        <tr>
          <td data-order='<%= transaction.id %>'>
            <span class='technical'><%= transaction.id.truncate(60) %></span>
          </td>
          <td data-order='<%= transaction.is_success %>'>
            <% if transaction.is_success -%>
              <span class='badge badge-success'>SUCCESS</span>
            <% else -%>
              <span class='badge badge-danger'>ERROR</span>
            <% end -%>
          </td>
          <td class='text-right'>
            <a class='btn btn-outline-primary btn-sm' href='<%= namespaced_path( 'block_transaction', transaction.block, transaction.id ) %>'>Details...</a>
          </td>
        </tr>
      <% end -%>
      </tbody>
    </table>
  </div>
</div>
