<% content_for :body_class, 'user-settings' %>
<%= render_flash_messages %>
<%= form_for @user do |f| -%>
  <div class='row'>
    <div class='col-12'>
      <h2 class='page-title text-center d-block'>
        Settings
      </h2>

      <% if @user.errors.any? -%>
        <div class='alert alert-warning'>
          <strong>Sorry, we couldn't do that.</strong>
          <ul class='mb-0 pl-4'>
            <% @user.errors.full_messages.each do |msg| -%>
              <li><%= msg %></li>
            <% end -%>
          </ul>
        </div>
      <% end -%>
    </div>
  </div>

  <div class='row clearfix mt-2 pt-3 justify-content-md-center'>
    <div class='col-12 col-md-5'>
      <div class='data-table'>
        <div class='data-table__header pb-0'>
          <h3 class='data-table__title'>User Info</h3>
        </div>
        <div class='p-3'>
          <div class='form-group'>
            <%= f.text_field :name, placeholder: 'Your Name', class: 'form-input form-control form-control-sm"' %>
          </div>
          <div class='form-group'>
            <%= f.email_field :email, placeholder: 'your@email.com', class: 'form-input form-control form-control-sm"' %>
          </div>
          <div class='form-group mb-0'>
            <%= f.password_field :password, placeholder: 'Confirm or update password', class: 'form-input form-control form-control-sm' %>
          </div>
        </div>
      </div>

      <div class='d-flex justify-content-center mt-4'>
        <%= f.submit class: 'button-primary', value: 'Update' %>
      </div>
    </div>
  </div>
<% end -%>
