<% content_for :body_class, 'subscription-index' %>
<%= render partial: '/tezos/shared/network_header', locals: { summary_link: true, governance_link: true, active_tab: ''} %>

<div class="container">
  <div class="content">
    <%= form_for @subscription, url: tezos_baker_subscriptions_path, html: { method: 'POST', class: 'subscription-form' } do |f| -%>

      <div class='d-flex align-items-center justify-content-between flex-warp'>
        <h1 class='validator-header__title mb-3'>
          Subscribe to Events
        </h1>
        <div class='d-flex align-items-center mb-3'>
          <%= link_to 'back', tezos_baker_path(id: @validator.id), class: 'button-secondary' %>
          <%= f.submit 'save subscription', class: 'button-primary ml-2' %>
        </div>
      </div>

      <div class='data-block'>
        <label class='data-block__title'>Baker</label>
        <p class='data-block__value'><%= @validator.short_name %></p>
      </div>

      <% if flash[:notice] %>
        <div class='alert alert-primary auto-alert-hide'>
          <%= flash[:notice].html_safe %>
        </div>
      <% end -%>
      <% if @subscription && @subscription.errors.any? -%>
        <div class='alert alert-warning'>
          <% @subscription.errors.full_messages.each do |message| -%>
            <div><%= message %></div>
          <% end -%>
        </div>
      <% end -%>

      <div class='row event-kinds-container mb-3 mt-4'>
        <% @chain.event_kinds.in_groups_of(2, false).each do |event_kinds| -%>
          <div class='col-12 col-md-6'>
            <% event_kinds.each do |event_kind| -%>
              <div class='data-table'>
                <div class='data-table__header'>
                  <div class='card-header-parts'>
                    <h3 class='data-table__title'><%= event_kind_to_name(event_kind) %></h3>
                    <div class='btn-group btn-group-toggle'>
                      <% selected = @subscription && @subscription.subscribes_to_kind?(event_kind) -%>
                      <div class='custom-control custom-radio'>
                        <input id='<%= event_kind %>_off' class='custom-control-input' type='radio' name='alert_subscription[event_kinds][<%= event_kind %>]' <%= 'checked=true' unless selected %> value='off' autocomplete='off'>
                        <label for='<%= event_kind %>_off' class='custom-control-label <%= 'active' unless selected %>'> Off</label>
                      </div>
                      <div class='custom-control custom-radio ml-2'>
                        <input id='<%= event_kind %>_on' class='custom-control-input' type='radio' name='alert_subscription[event_kinds][<%= event_kind %>]' <%= 'checked=true' if selected %> value='on' autocomplete='off'>
                        <label for='<%= event_kind %>_on' class='custom-control-label <%= 'active' if selected %>'> On</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class='card-body'>
                  <% if event_kind == "balance_change" %>
                  <div class='controls d-flex align-items-start align-items-md-center flex-column flex-md-row mb-4'>
                    <span class='text-muted text-nowrap mr-4'>Notify on</span>
                    <div class='input-group input-group-lg'>
                      <input type='text' class='form-control' autocomplete='off'
                            name='alert_subscription[data][percent_change]'
                            value='<%= @subscription && @subscription.data['percent_change'] %>'
                            placeholder='percentage' />
                      <div class='input-group-append'>
                        <span class='input-group-text'>%</span>
                      </div>
                    </div>
                    <span class='text-muted text-nowrap ml-md-4'>Change (<span class='technical text-lg font-weight-bold'>+</span>/<span class='technical text-lg font-weight-bold'>-</span>)</span>
                  </div>
                  <% end %>

                  <div class='info'>
                    You will receive an email up to once every <%= time_ago_in_words(ALERT_MINIMUM_TIMEOUT.ago) %>
                    about this type of event.
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end -%>
      </div>
    <% end -%>
  </div>
</div>
