<tr>
  <td><%= event.network.name.capitalize %></td>
  <td><%= event.type_display %></td>
  <td><%= event.description%></td>
  <td><%= event.height %></td>
  <td><%= event.decorated_time %></td>
</tr>
