<% if @validator.nil? %>
  <td>
    <span class='paragraph font-weight-bold'>
    <%= link_to event.validatorlike.short_name, namespaced_path( 'validator', event.validatorlike ) %>
    </span>
  </td>
<% end -%>
<td>
  <div class="d-flex align-items-center">
    <p class='event-history__value technical m-0'>
      <% if event.delegators.count == 1 %>
        <%= event.delegators[0].truncate(15) %>
      <% else %>
        <%= "#{event.delegators.count} accounts" %>
      <% end %>
    </p>
  </div>
  <div class="event-history__amount technical">
    <%= event.added? ? ' joined ' : ' left ' %>
      delegator set.
  </div>
</td>
<td>
  <span class='technical event-history__block'>
    <%= link_to event.height, namespaced_path( 'block', event.height ), class: 'technical' %>
  </span>
</td>
