<% if @validator.nil? %>
  <td>
    <span class='paragraph font-weight-bold'>
      <%= link_to event.validatorlike.short_name, namespaced_path( 'validator', event.validatorlike ) %> commission
    </span>
  </td>
<% end -%>
<td>
  <div class="d-flex align-items-center">
    <%= image_tag "#{event.positive? ? 'increased' : 'reduced'}.svg", alt: "#{event.positive? ? 'increased' : 'reduced'}", class: 'event-history__arrow mr-2' %>
    <p class="event-history__value technical m-0">
      <%= sprintf("%+d", event.delta) %>% / <%= sprintf("%+.1f%%", event.percentage_change) %>
    </p>
  </div>
  <div class="event-history__amount technical">
    <%= event.from %>%
    <%= event.to %>%
  </div>
</td>
<td>
  <%= link_to event.height, namespaced_path( 'block', event.height ), class: 'technical event-history__block' %>
</td>
