<% content_for :body_class, 'reports-show' %>

<%= render partial: '/oasis/shared/chain_header', locals: { new_reports_link: true, active_tab: '' } %>

<div class="container">
  <div class="content">
    <div class='d-flex flex-wrap justify-content-between'>
      <h5 class='data-block__value word-break'><%= params[:id] %></h5>
      <div class='d-flex flex-wrap'>
        <% unless @error %>
          <%= link_to oasis_chain_report_path(@chain, params[:id], :params => { format: 'csv'} ), class: 'button-secondary mr-3' do %>
            <span class='d-none d-md-inline'>Export</span>
            <span class='d-inline d-md-none fa fa-download'></span>
          <% end %>
        <% end %>
        <%= link_to new_oasis_chain_report_path(@chain), class: 'button-secondary' do %>
          <span class='d-none d-md-inline'>New Report</span>
          <span class='d-inline d-md-none fa fa-undo'></span>
        <% end %>
      </div>
    </div>

    <% if @error %>
      <%= render partial: 'shared/display_error' %>
    <% else %>
      <div class='data-table'>
        <div class='data-table__header'>
          <h3 class='data-table__title'>Reports</h3>
        </div>
        <table class='table table-sm table-responsive-md'>
          <thead>
            <tr>
              <th>Date</th>
              <th>Validator</th>
              <th>Rewards <small class='text-muted technical'>(<%= @chain.token_display %>)</small></th>
              <th>Commission <small class='text-muted technical'>(<%= @chain.token_display %>)</small></th>
              <th>Slashes</th>
            </tr>
          </thead>

          <tbody>
              <% @rewards.each do |reward| %>
                <%= render partial: 'daily_rewards', locals: { reward: reward } %>
              <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
</div>
