<div class='col-12 col-md-3 order-0 order-md-1 info-cards'>
  <div class='card'>
    <h5 class='card-header'>Height</h5>
    <div class='card-body'>
      <% if @block.has_previous_block? -%>
        <a href='<%= namespaced_path('block', @block.previous_block) %>' class='text-muted'><span class='fas fa-chevron-left'></span></a>
      <% end -%>
      <span class='large-number technical'><%= @block.height %></span>
      <% if @block.has_next_block? -%>
        <a href='<%= namespaced_path('block', @block.next_block) %>' class='text-muted'><span class='fas fa-chevron-right'></span></a>
      <% end -%>
    </div>
  </div>
  <div class='card'>
    <h5 class='card-header'>Timestamp</h5>
    <div class='card-body'>
      <span class='technical'><%= format_timestamp(@block.time) %></span>
    </div>
  </div>
  <div class='card'>
    <h5 class='card-header'>Raw JSON</h5>
    <div class='card-body text-nowrap'>
      <a target='_blank' class='btn btn-outline-secondary btn-sm' href='<%= namespaced_path('block', @block.height, format: 'json') %>'>Block</a>
    </div>
  </div>
</div>
