<div class='data-block d-flex flex-wrap'>
  <div class='mr-5 mb-4'>
    <h3 class='data-block__title'>Height</h3>
    <% if @block.has_previous_block? -%>
      <%= link_to namespaced_path('block', @block.previous_block), class: 'data-block__value text-decoration-none' do %>
        <span class='fas fa-chevron-left'></span>
      <% end -%>
    <% end -%>
    <span class='data-block__value'><%= @block.height %></span>
    <% if @block.has_next_block? -%>
      <%= link_to namespaced_path('block', @block.next_block), class: 'data-block__value text-decoration-none' do %>
        <span class='fas fa-chevron-right'></span>
      <% end -%>
    <% end -%>
  </div>
  <div class='mb-4'>
    <h3 class='data-block__title'>Timestamp</h3>
    <span class='data-block__value'><%= format_timestamp(@block.time) %></span>
  </div>
</div>
<div>
  <h3 class='data-block__title'>Raw JSON</h3>
  <%= link_to 'Block', namespaced_path('block', @block.height, format: 'json'), class: 'button-secondary', target: '_blank' %>
</div>
