<% content_for :body_class, 'chain-show' %>

<%= render partial: 'polkadot/shared/chain_header', locals: { summary_link: true, active_tab: 'Validators' } %>

<div class='container'>
  <div class='content'>
    <%= render_flash_messages %>
    <div class='row info-cards'>
      <div class='col-12 col-md-9 order-1 order-md-0'>
        <%= render partial: 'validators_daily_stake', locals: { validators_daily_stake: @validators_daily_stake, chain: @chain } %>
        <%= render partial: 'polkadot/shared/validators', locals: { validators: @validators, stale_data: false } %>
      </div>

      <div class='col-12 col-md-3 order-0 order-md-1 info-cards mb-5'>
        <div class='data-block'>
          <h3 class='data-block__title'>Current Block</h3>
            <%= link_to polkadot_chain_block_path(@chain.slug, @height), class: 'data-block__large-number' do %>
              <span class='technical'><%= @height %></span>
            <% end %>
            <div>
              <small class='text-muted'>
                <%= @latest_block_time.strftime('%Y-%m-%d %H:%M %Z') %>
                <br/>
                <%= time_ago_in_words(@latest_block_time, true) %> ago
              </small>
            </div>
        </div>
      </div>
    </div>  
  </div>
</div>
