<% content_for :body_class, 'homepage' %>

<% if !primary_chains.any? -%>
  <p>No chains configured.</p>
<% end -%>
    
<ul class='chains-list row p-0 list-unstyled'>
  <% primary_chains.each do |chain| -%>
    <li class='col-xl-4 col-lg-6 col-md-6 px-3'>
      <div class='chains-list__card card px-5 pt-5 pb-1 shadow-none'>
        <%= link_to '', namespaced_path( chain: chain ), class: 'chains-list__card-link'%>
        <div class='card-body p-0 d-flex flex-column'>
          <% if network_has_image?(chain.network_name) -%>
            <%= image_tag network_image(chain.network_name), class: "chains-list__img #{chain.network_name.downcase}-img" %>
          <% else -%>
            <p class='chains-list__img-fallback'><%= chain.network_name %></p>
          <% end -%>
          <p class='chains-list__launch'>Launched in <%= chain.created_at.strftime("%B %Y") %></p>
          <ul class='d-flex list-unstyled justify-content-between flex-wrap mt-4'>
            <% if chain.respond_to?(:validators) && chain.validators.any? -%>
              <li class='col-6 p-0 mt-3'>
                <p class='chains-list__label m-0'>Validator Set Size</p>
                <p class='chains-list__data m-0'><%= chain.validators.count %></p>
              </li>
            <% end -%>
            <% if chain.respond_to?(:average_block_time) && chain.average_block_time -%>
              <li class='col-6 p-0 mt-3'>
                <p class='chains-list__label m-0'>Block Time</p>
                <p class='chains-list__data m-0'><%= chain.average_block_time.round(2) %><sup>SEC</sup></p>
              </li>
            <% end -%>
          </ul>
        </div>
      </div>
    </li>
  <% end -%>
</ul>

