<h3>New Lead for Prime:</h3>
<p><bold>Name:</bold> <%= params[:form]['name'] %></p>
<p><bold>Email:</bold> <%= params[:form]['email'] %></p>
<p><bold>Company:</bold> <%= params[:form]['company'] %></p>
<p><bold>Networks:</bold> <%= params[:form]['tokens'] %></p>
<p><bold>Total USD:</bold> <%= params[:form]['balance'] %></p>
