<div>
  <span class='d-inline d-md-none <%= icon_classes %> mr-1'></span>
  <span class='font-weight-bold'>
    <% if @orchestrator.nil? -%>
      <%= link_to event.orchestrator.name_or_address, namespaced_path('orchestrator', event.orchestrator) %>
      slashed with penalty <%= livepeer_lpt_amount(event.penalty) %>
    <% else -%>
      Slashed with penalty <%= livepeer_lpt_amount(event.penalty) %>
    <% end -%>
  </span>
  <span class='text-muted'>
    in round
    <%= link_to event.round.number, namespaced_path('round', event.round), class: 'technical' %>
  </span>
</div>
