<% content_for :body_class, 'events-index' %>

<%= render partial: '/livepeer/base/chain_header', locals: { delegator_lists_link: true, events_link: true } %>
<%= render partial: '/livepeer/base/sync_errors' %>

<h3>
  Events
  <% if @transcoder -%>
    for <%= link_to @transcoder.name_or_address, namespaced_path('transcoder', @transcoder) %>
  <% end -%>
  <small class='text-sm text-muted'>
    showing <%= @pagy.from %>-<%= @pagy.to %>
    of <%= pluralize(@pagy.count, 'total event') %>
  </small>
</h3>

<% if @events.empty? -%>
  <p class='text-muted py-4 mb-0 text-center'>No events yet.</p>
<% else -%>
  <% @events.each do |event| -%>
    <div class='card mb-1 shadow-none'>
      <div class='card-body'>
        <div class='inner-event d-flex align-items-start flex-column flex-md-row align-items-md-center'>
          <% icon_classes = "fa fa-#{event.icon_name} text-#{event.positive? ? 'success' : 'danger'}" %>
          <div class='d-none d-md-block <%= icon_classes %> mr-3'></div>
          <div class='event-content'>
            <%= render partial: event.to_partial_path, locals: { event: event, icon_classes: icon_classes } %>
          </div>
          <div class='timestamp ml-md-auto text-sm text-muted ml-md-3 mt-2 mt-md-0 text-nowrap text-md-right'>
            <%= link_to namespaced_path('event', event) do %>
              <% date_string = event.timestamp.strftime("%B %d, %Y") -%>
              <% time_string = event.timestamp.strftime("at %H:%M %Z") -%>
              <div class='d-inline d-md-block'><%= date_string %></div>
              <div class='d-inline d-md-block'><%= time_string %></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end -%>
<% end -%>
<div class='mt-5'>
  <%== pagy_bootstrap_nav(@pagy).html_safe %>
</div>
