<div class='data-table'>
  <div class='data-table__header'>
    <h4 class="data-table__title">Delegations</h4>
  </div>
  <div class='delegations-table'>
    <table data-empty='<%= delegations.blank? %>'>
      <thead>
        <tr>
          <th>Validator</th>
          <th>Amount</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% if delegations.nil? %>
          <tr>
            <td class='p-3 text-center' colspan='5'>Unable to retrieve delegation data.</td>
          </tr>
        <% elsif delegations.empty? %>
          <tr>
            <td class='p-3 text-center' colspan='5'>No delegations.</td>
          </tr>
        <% else %>
          <% delegations.each do |delegation| %>
            <tr>
              <td>
                <% if delegation[:validator] %>
                  <%= link_to delegation[:validator].short_name, namespaced_path('validator', delegation[:validator]) %>
                <% else %>
                  <tt><%= delegation[:raw_operator] %></tt>
                <% end %>
              </td>
              <td data-order='<%= delegation[:amount] %>'>
                <%= format_amount(delegation[:amount], @chain, denom: @chain.token_map[@chain.primary_token]['display']) %>
              </td>
              <td>
                <span class='badge badge-pill badge-primary'><%= delegation[:status].upcase %></span>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
