<% content_for :body_class, "validator-show" %>

<%= render partial: '/mina/base/chain_header', locals: { active_tab: '' } %>
<%= render_flash_messages %>

<div class="validator-header pb-4">
  <div class="container">
    <div class='d-flex flex-wrap'>
      <div class='mr-auto pb-4'>
        <h2 class="validator-header__title">Validator</h2>
        <%= @validator.display_name.truncate(30) %>
      </div>
      <div class='pb-4'>
        <ul class='validator-info__list'>
          <li class='validator-info__item'>
            <p class='text-label validator-info__label'>Account</p>
            <p class='validator-info__value technical'>
              <%= link_to @validator.public_key.truncate(50), mina_chain_account_path(@chain, @validator.public_key) %>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class='container'>
  <div class='content'>
    <div class="row mb-4">
      <div class="col-12 col-md-4">
        <%= render "mina/validators/show/ledger" if @chain.supports_ledger? %>
      </div>
    </div>

    <div class="row info-cards">
      <div class="col-md-12 col-lg-7 mb-4 pb-2">
        <%= render "mina/validators/show/staking",
          validator: @validator,
          account:   @account,
          total:     @staking_pool,
          ledger:    @chain.supports_ledger?
        %>
        <%= render "mina/validators/show/lifetime", validator: @validator %>
        <%= render "mina/validators/show/balance_stats", stats: @stats %>
        <%= render "mina/validators/show/transactions", chain: @chain, validator: @validator, transactions: @transactions %>
      </div>
      <div class="col-md-12 col-lg-5">
        <%= render "mina/validators/show/blocks",   blocks: @blocks.reverse, account: @validator.public_key %>
        <%= render "mina/validators/show/delegations",  delegations: @delegations, validator: @validator, account: @account, chain: @chain %>
      </div>
    </div>
  </div>
</div>
