<% content_for :body_class, "account-show" %>

<%= render partial: '/mina/base/chain_header', locals: { active_tab: '' } %>
<%= render_flash_messages %>
<div class="validator-header pb-4">
  <div class="container">
    <div class='d-flex flex-wrap'>
      <div class='mr-auto pb-4'>
        <h2 class="validator-header__title">Account</h2>
      </div>
      <div class='pb-4'>
        <ul class='validator-info__list'>
          <li class='validator-info__item'>
            <p class='validator-info__value technical'>
              <%= @account.public_key %>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class='container'>
  <div class='content'>
    <div class="row info-cards">
      <div class="col-md-12 col-lg-7 mb-4 pb-2">
        <%= render "mina/accounts/show/balance", account: @account, delegations: @delegations %>
        <%= render "mina/accounts/show/lifetime", account: @account %>
        <%= render "mina/accounts/show/transactions", account: @account, transactions: @transactions, chain: @chain %>
      </div>
      <div class="col-md-12 col-lg-5">
        <%= render "mina/accounts/show/delegations", delegations: @delegations, chain: @chain %>
      </div>
    </div>
  </div>
</div>
