<% content_for :body_class, "account-show" %>

<%= render "chain_header", summary_link: true %>
<%= render_flash_messages %>

<h2 class="mb-3">
  <label class="text-muted">Account</label>
  <%= @account.public_key.truncate(30) %>
</h2>

<div class="row info-cards">
  <div class="col-12 col-md-8 order-1 order-md-0">
    <%= render "mina/accounts/show/transactions", account: @account, transactions: @transactions, chain: @chain %>
    <%= render "mina/accounts/show/delegations", delegations: @delegations %>
  </div>
  <div class="col-12 col-md-4 order-0 order-md-1 info-cards">
    <%= render "mina/accounts/show/balance", account: @account %>
    <%= render "mina/accounts/show/lifetime", account: @account %>
  </div>
</div>
