<table class='events' width='100%' cellpadding='0' cellspacing='0'>
  <tr>
    <td colspan='2'>
      <table class='events_content' width='100%' cellpadding='0' cellspacing='0'>
        <tr>
          <th class='events_heading'>
            <p>Time</p>
          </th>
          <th class='events_heading'>
            <p>Event</p>
          </th>
        </tr>
        <% @events.each do |event| -%>
        <tr>
          <td width='20%' class='sub events_time'><%= event.timestamp.strftime('%Y-%m-%d<br/>at %H:%M %Z').html_safe %></td>
          <td width='80%' class='events_description'>
            <% case event.kind_string -%>
            <% when 'voting_power_change' %>
              Voting power changed from
              <%= event.from %> &rarr; <%= event.to %>
              (<%= sprintf("%+d", event.delta) %> / <%= sprintf('%+.1f%%', event.percentage_change) %>)
              <p class='sub'>
                at block
                <%= link_to event.height, namespaced_path('block', event.height, chain: @alertable.chain, full: true) %>
              </p>
            <% when 'active_set_inclusion' %>
              <%= event.added? ? 'Added to' : 'Removed from' %>
              active set
              <p class='sub'>
                at block
                <%= link_to event.height, namespaced_path('block', event.height, chain: @alertable.chain, full: true) %>
              </p>
            <% when 'n_of_m' %>
              Missed <%= event.n %> of <%= event.m %> precommits
              <p class='sub'>
                as of block
                <%= link_to event.height, namespaced_path('block', event.height, chain: @alertable.chain, full: true) %>
              </p>
            <% when 'n_consecutive' %>
              Missed <%= event.n %> consecutive precommits
              <p class='sub'>
                as of block
                <%= link_to event.height, namespaced_path('block', event.height, chain: @alertable.chain, full: true) %>
              </p>
            <% when 'reward_cut_change' %>
              <% if event.alertable.chain.alertable_type == 'delegator_list' %>
                Reward cut changed to <%= number_to_percentage(event.reward_cut) %>
                <p class='sub'>
                  for orchestrator
                  <%= link_to namespaced_path('orchestrator', event.orchestrator, chain: @alertable.chain, full: true) do %>
                    <%= event.orchestrator.name_or_address %>
                  <% end -%>
                </p>
              <% elsif event.alertable.chain.alertable_type == 'validator' %>
                Commission changed to <%= number_to_percentage(event.to) %>
                <p class='sub'>
                  for validator
                  <%= link_to namespaced_path('validator', event.actor, chain: @alertable.chain, full: true) do %>
                    <%= event.actor %>
                  <% end -%>
                </p>
              <% end %>
            <% when 'missed_reward_call' %>
              Missed reward call
              <p class='sub'>
                by orchestrator
                <%= render partial: 'orchestrator', locals: { event: event } %>
              </p>
            <% when 'deactivation' %>
              Deactivation
              <p class='sub'>
                of orchestrator
                <%= render partial: 'orchestrator', locals: { event: event } %>
              </p>
            <% when 'slashing' %>
              Slashing with penalty <%= number_to_human(event.penalty) %> LPT
              <p class='sub'>
                of orchestrator
                <%= render partial: 'orchestrator', locals: { event: event } %>
              </p>
            <% end -%>
          </td>
        </tr>
        <% end -%>
      </table>
    </td>
  </tr>
</table>
