<h1>Hello, <%= @user.name %>!</h1>
<p>New events occurred<%= @sub.last_instant_at ? " since we last sent you a notification (on #{@sub.last_instant_at.strftime("%Y-%m-%d %H:%M %Z")})" : '' %>:</p>
<table class='attributes' width='100%' cellpadding='0' cellspacing='0'>
  <tr>
    <td class='attributes_content'>
      <table width='100%' cellpadding='0' cellspacing='0'>
        <tr>
          <td class='attributes_item'><strong><%= @alertable.chain.alertable_type.humanize %>:</strong>
            <%= link_to @alertable.short_name, namespaced_path(@alertable.chain.alertable_type, @alertable.address, chain: @alertable.chain, full: true) %>
          </td>
        </tr>
        <tr>
          <td class='attributes_item'><strong>Chain:</strong>
            <%= link_to @alertable.chain.name, namespaced_path(chain: @alertable.chain, full: true) %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<p>There <%= @events.count == 1 ? 'is' : 'are' %> <%= pluralize(@events.count, 'new event') %>.</p>
<%= render partial: 'event_list' %>

<p>If you have any questions, please <%= mail_to 'contact@figment.io', 'email us' %>.</p>
<p>Thanks,
  <br>The Figment Team</p>
<!-- Sub copy -->
<table class='body-sub'>
  <tr>
    <td>
      <p class='sub'>You can manage this subscription <%= link_to 'here', namespaced_path("#{@alertable.chain.alertable_type}_subscriptions", @alertable.address, chain: @alertable.chain, full: true) %>.</p>
    </td>
  </tr>
</table>
