<% content_for :body_class, 'account-show' %>

<%= render partial: '/cosmoslike/shared/chain_header', locals: { active_tab: '', summary_link: true } %>

<div class="content">
  <div class="container">
    <h2 class='data-block'>
      <label class='data-block__title'>Account</label>
      <span class='data-block__value d-block word-break'><%= params[:id] %></span>
    </h2>
    <% if @found_account && @found_account.validator -%>
      <h5 class='mb-4'>
        <label class='text-muted'>Owner</label>
        <%= link_to namespaced_path('validator', @found_account.validator) do %>
          <span class='technical'><%= @found_account.validator.long_name %></span>
        <% end %>
      </h5>
    <% end -%>

    <% if @account.error? -%>
      <%= render partial: 'shared/display_error' %>
    <% else -%>
      <div>
        <div class="data-block d-flex flex-wrap mt-5">
          <div>
            <h5 class='data-block__title'>Balance</h5>
            <% @account.balances.each do |balance| -%>
              <div>
                <%= format_amount(balance[:amount], @chain, denom: balance[:denom]) %>
              </div>
            <% end -%>
          </div>
          <div class='ml-5'>
            <h3 class='data-block__title'>Delegation</h3>
            <div>
              <label class='text-muted mb-0 mt-0'>Bonded</label>
              <%= format_amount(@account.total_delegations(filter: :bonded), @chain, denom: @chain.token_map[@chain.primary_token]['display']) %>
            </div>
            <div>
              <label class='text-muted mb-0'>Unbonding</label>
              <%= format_amount(@account.total_delegations(filter: :unbonding), @chain, denom: @chain.token_map[@chain.primary_token]['display']) %>
          </div>
        </div>
        </div>

        <div class="data-block">
          <h3 class='data-block__title'>Pending Rewards</h3>
          <% if @account.has_outstanding_rewards? -%>
            <div class="d-flex flex-wrap">
              <% @account.outstanding_rewards.each do |reward| -%>
                <div class="mb-2 w-50">
                  <%= format_amount(reward[:amount], @chain, denom: reward[:denom]) %>
                </div>
              <% end -%>
            </div>
          <% else -%>
            <span class='text-muted'>None</span>
          <% end -%>
        </div>
        <%= render partial: 'delegations', locals: {delegations: @account.delegations} %>
        <%= render partial: 'transactions', locals: {transactions: @account.delegation_transactions} %>
      </div>
    <% end -%>
  </div>
</div>
