<div class='delegations mb-5'>
  <div class='delegations-table-header'>
    <h4>Delegations</h4>
  </div>
  <div class='delegations-table'>
    <table data-empty='<%= account.delegations.blank? %>'>
      <thead>
        <tr>
          <th>Validator</th>
          <th>Amount</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% if account.delegations.empty? %>
          <tr>
            <td class='p-3 text-center' colspan='5'>No delegations.</td>
          </tr>
        <% else %>
          <% account.delegations.each do |delegation| %>
            <tr>
              <td data-order='<%= delegation.validator_uid %>'>
                <%= link_to delegation.validator_uid.truncate(30), oasis_chain_validator_path(@chain.slug, delegation.validator_uid) %>
              </td>
              <td data-order='<%= delegation.shares %>'>
                <%= format_amount( delegation.shares, @chain, denom: 'noasis' ) %>
              </td>
              <td data-order='<%= delegation.status %>'>
                <span class='badge badge-pill badge-primary'><%= delegation.status.upcase %></span>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
