<div class='data-table'>
  <div class='data-table__header'>
    <h3 class='data-table__title'>Delegations</h3>
  </div>
  <div class='delegations-table'>
    <table data-empty='<%= account.delegations.blank? %>'>
      <thead>
        <tr>
          <th>Validator</th>
          <th>Amount</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% if account.delegations.empty? %>
          <tr>
            <td class='data-table__empty' colspan='5'>No delegations.</td>
          </tr>
        <% else %>
          <% account.delegations.each do |delegation| %>
            <tr>
              <td class='text-sm' data-order='<%= delegation.validator_uid %>'>
                <%= link_to delegation.validator_uid.truncate(30), oasis_chain_validator_path(@chain.slug, delegation.validator_uid) %>
              </td>
              <td class='text-sm' data-order='<%= delegation.shares %>'>
                <%= oasis_format_amount( delegation.shares) %>
              </td>
              <td data-order='<%= delegation.status %>'>
                <span class='badge badge-pill badge-primary'><%= delegation.status.upcase %></span>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
