<% content_for :body_class, 'account-show' %>

<%= render partial: '/oasis/shared/chain_header', locals: { show_report_link: true, active_tab: '' } %>

<div class="container">
  <div class="content">  
    <%= render_flash_messages %>
    <div class='data-block'>
      <label class='data-block__title'>Account</label>
      <span class='data-block__value d-block word-break'><%= params[:id] %></span>
    </div>
    <% if false -%>
      <h5 class='mb-4'>
        <label class='text-muted'>Owner</label>
        <%= link_to namespaced_path( 'validator', @found_account.validator ) do %>
          <span class='technical'><%= @found_account.validator.long_name %></span>
        <% end -%>
      </h5>
    <% end -%>

    <% if @error %>
      <%= render partial: 'shared/display_error' %>
    <% else %>
      <div class='data-block d-flex flex-wrap mt-5'>
        <div class='mr-5'>
          <h3 class='data-block__title'>Balance</h3>
          <div><%= oasis_format_amount( @account.total_balance) %></div>
        </div>
        <div>
          <h3 class='data-block__title'>Delegation</h3>
          <div>
            <label class='text-muted mb-0 mt-0'>Bonded</label>
            <%= oasis_format_amount( @account.bonded_balance) %>
          </div>
          <div>
            <label class='text-muted mb-0'>Unbonding</label>
            <%= oasis_format_amount( @account.debonding_balance) %>
          </div>
          <div>
            <label class='text-muted mb-0'>Unbonded</label>
            <%= oasis_format_amount( @account.liquid_balance) %>
          </div>
        </div>
      </div>
      
      <%= render partial: 'delegations', locals: {account: @account} %>
    <% end -%>
  </div>
</div>
