<% content_for :body_class, 'events-index' %>
<%= render partial: 'chain_header', locals: { active_tab: '', delegator_lists_link: true, events_link: true } %>

<div class='content'>
  <div class='container'>
    <%= render partial: '/livepeer/base/sync_errors' %>

    <div class='data-table m-0'>
      <div class='data-table__header'>
        <h3 class="data-table__title">Events for <%= link_to @delegator_list.name, namespaced_path('delegator_list', @delegator_list) %></h3>
      </div>
      <div class='table-responsive'>
        <table class='w-100'>
          <thead>
            <tr>
              <th>Event</th>
              <th>Round</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <% if @events.empty? -%>
              <tr>
                <td class='data-table__empty' colspan='3'>No events yet.</td>
              </tr>
            <% else -%>
              <% @events.each do |event| -%>
                <tr>
                  <% icon_classes = "fa fa-#{event.icon_name} text-#{event.positive? ? 'success' : 'danger'}" %>
                  <%= render partial: event.to_partial_path, locals: { event: event, icon_classes: icon_classes } %>
                  <td>
                    <%= link_to namespaced_path('event', event), class: "event-history__date" do %>
                      <%= event.timestamp.strftime("%B %d, %Y") %>
                      <%= event.timestamp.strftime("at %H:%M %Z") %>
                    <% end %>
                  </td>
                </tr>
              <% end -%>
            <% end -%>
          </tbody>
        </table>
      </div>
    </div>
    <div class='mt-5 d-flex justify-content-center'>
      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
  </div>
</div>
