<% content_for :body_class, 'delegator-list-edit' %>
<%= render partial: 'chain_header', locals: { active_tab: '', delegator_lists_link: true, events_link: true } %>

<div class='content'>
  <div class='container'>
    <div class='row'>
      <div class='col-12'>
        <h2 class='text-center d-block'>
          <%= @delegator_list.persisted? ? 'Edit' : 'Create' %> a delegator list
        </h2>
      </div>
    </div>

    <div class='row clearfix mt-2 pt-3 justify-content-md-center'>
      <div class='col-12 col-md-8'>
        <div class='delegator-list-form'>
          <% if @delegator_list.persisted? -%>
            <% url = namespaced_path('delegator_list', @delegator_list) -%>
          <% else -%>
            <% url = namespaced_path('delegator_lists') -%>
          <% end -%>

          <%= bootstrap_form_for @delegator_list, as: :delegator_list, url: url do |f| %>
            <%= f.errors_on :base %>
            <%= f.errors_on :addresses, hide_attribute_name: true %>

            <div class='data-block'>
              <h3 class='data-block__title'>Delegator List</h3>
              <%= f.text_field :name, required: true, autofocus: true %>

              <fieldset class='delegator-template d-none' disabled>
                <%= render partial: 'delegator', locals: { delegator: '' } %>
              </fieldset>

              <fieldset class='delegators'>
                <label>Delegators</label>
                <%= render partial: 'delegator', collection: @delegator_list.addresses %>
                <button class='add-delegator button-secondary' type='button'>Add delegator</button>
              </fieldset>
            </div>
            <div class='d-flex justify-content-center my-4'>
              <%= f.primary 'Submit', class: 'button-primary' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
