<% content_for :body_class, 'delegator-list-edit' %>

<div class='row'>
  <div class='col-12'>
    <h2 class='header text-center d-block'>
      <%= @delegator_list.persisted? ? 'Edit' : 'Create' %> a delegator list
    </h2>
  </div>
</div>

<div class='row clearfix mt-2 pt-3 justify-content-md-center'>
  <div class='col-12 col-md-8'>
    <div class='delegator-list-form'>
      <% if @delegator_list.persisted? -%>
        <% url = namespaced_path('delegator_list', @delegator_list) -%>
      <% else -%>
        <% url = namespaced_path('delegator_lists') -%>
      <% end -%>

      <%= bootstrap_form_for @delegator_list, as: :delegator_list, url: url do |f| %>
        <%= f.errors_on :base %>
        <%= f.errors_on :addresses, hide_attribute_name: true %>

        <div class='card'>
          <h5 class='card-header'>Delegator List</h5>
          <div class='card-body'>
            <%= f.text_field :name, required: true, autofocus: true %>

            <fieldset class='delegator-template d-none' disabled>
              <%= render partial: 'delegator', locals: { delegator: '' } %>
            </fieldset>

            <fieldset class='delegators mb-3'>
              <label>Delegators</label>
              <%= render partial: 'delegator', collection: @delegator_list.addresses %>
              <button class='add-delegator btn btn-outline-secondary d-block' type='button'>Add delegator</button>
            </fieldset>

            <fieldset class='user-select-none'>
              <%= f.check_box :email_alerts_enabled, label: 'Subscribe to email alerts', custom: :switch %>
            </fieldset>
          </div>
        </div>

        <div class='text-center'>
          <%= f.primary 'Submit' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
