<% content_for :body_class, 'block-show' %>

<%= render partial: 'shared/chain_header', locals: { active_tab: '' } %>

<div class='container'>
  <div class='content'>
    <div class='data-block'>
      <h2 class='data-block__title'>Block</h2>
      <span class='data-block__value d-block word-break'><%= @block.hash %></span>
    </div>

    <%= render partial: 'shared/block_sidebar', locals: { block: @block } %>

    <div class='mt-5'>
      <%= render partial: 'shared/transactions', locals: { transactions: @transactions } %>
      <%= render partial: 'celo/shared/validator_groups', locals: { validator_groups: @validator_groups} %>
    </div>
  </div>
</div>
