<div class="data-table my-5">
  <div class="data-table__header">
    <h3 class="data-table__title">Baker Performance</h3>
  </div>
  <table class="table table-hover mb-0">
    <thead>
      <tr>
        <th style="width: 30px;"></th>
        <th>Baker</th>
        <th>Blocks Baked</th>
        <th>Slots Endorsed</th>
      </tr>
    </thead>

    <tbody>
      <% @subscribed_bakers.each do |baker| %>
        <tr class="linked bg-success">
          <td>
            <%= link_to tezos_baker_path(baker.id) do %>
              <i class="fas fa-bell text-white"></i>
            <% end %>
          </td>
          <td><%= link_to baker.long_name, tezos_baker_path(baker.id), class: "text-white" %></td>
          <td><%= link_to "#{@cycle.cached_baking_stats[baker.id]&.blocks_baked || 0} blocks", tezos_baker_path(baker.id), class: "text-white" %></td>
          <td><%= link_to "#{@cycle.cached_endorsing_stats[baker.id]&.endorsed_slots || 0} slots", tezos_baker_path(baker.id), class: "text-white" %></td>
        </tr>
      <% end %>

      <% @other_bakers.each do |baker| %>
        <tr class="linked">
          <td><%= link_to "", tezos_baker_path(baker.id) %></td>
          <td><%= link_to baker.long_name, tezos_baker_path(baker.id) %></td>
          <td><%= link_to "#{@cycle.cached_baking_stats[baker.id]&.blocks_baked || 0} blocks", tezos_baker_path(baker.id) %></td>
          <td><%= link_to "#{@cycle.cached_endorsing_stats[baker.id]&.endorsed_slots || 0} slots", tezos_baker_path(baker.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%== pagy_bootstrap_nav(@pagy) %>
