<div class="px-2 mb-2 nowrap">
  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="filter<%= type %>" name="types[]" value="<%= type %>" <%= 'checked' if params[:types].nil? || params[:types].include?(type) %>>
    <label class="form-check-label" for="filter<%= type %>">
      <%= type.titleize %>
    </label>
  </div>
</div>
