<div class="d-flex mb-3 flex-wrap data-block">
  <div class="mr-5 mb-4">
    <div class="data-block">
      <h3 class='data-block__title'>START</h3>
      <% if @cycle.start_time %>
        <span class='paragraph d-block'><%= local_time(@cycle.start_time, "%b %d, %H:%M %Z") %></span>
        <span class='text-label'>Block <%= number_with_delimiter @cycle.start_height, delimiter: ',' %></span>
      <% end %>
    </div>
  </div>

  <% if @cycle.current? %>
    <div class="mr-5 mb-4">
      <div class="data-block">
        <h3 class='data-block__title'>TIME LEFT</h3>
        <span class='paragraph d-block'><%= distance_of_time_in_words(Time.current.utc, @cycle.end_time.utc) %></span>
        <span class='text-label'>until cycle ends</span>
      </div>
    </div>
  <% end %>

  <div class="mr-5 mb-4">
    <div class="data-block">
      <h3 class='data-block__title'>END</h3>
      <% if @cycle.end_time %>
        <span class='paragraph d-block'><%= local_time(@cycle.end_time, "%b %d, %H:%M %Z") %></span>
        <span class='text-label'>Block <%= number_with_delimiter @cycle.end_height, delimiter: ',' %></span>
      <% end %>
    </div>
  </div>
</div>
