<% content_for :body_class, 'subscription-index' %>
<%= render partial: 'chain_header', locals: { active_tab: '', delegator_lists_link: true, events_link: true } %>

<% url = namespaced_path('delegator_list_subscriptions', @delegator_list) %>

<div class="container">
  <div class="content">
    <%= form_for @subscription, url: url, html: { method: 'POST', class: 'subscription-form' } do |f| -%>
      <div class='d-flex align-items-center justify-content-between flex-warp'>
        <h1 class='validator-header__title mb-3'>
          Subscribe to Events
        </h1>
        <div class='d-flex align-items-center mb-3'>
          <%= link_to 'back', namespaced_path('delegator_lists'), class: 'button-secondary' %>
          <%= f.submit 'save subscription', class: 'button-primary ml-2' %>
        </div>
      </div>

      <div class='data-block my-3'>
        <h2 class='data-block__title'>Delegator List</h2>
        <p class='data-block__value'><%= @delegator_list.short_name %></p>
      </div>

      <% if flash[:notice] %>
        <div class='alert alert-primary auto-alert-hide'>
          <%= flash[:notice].html_safe %>
        </div>
      <% end -%>
      <% if @subscription && @subscription.errors.any? -%>
        <div class='alert alert-warning'>
          <% @subscription.errors.full_messages.each do |message| -%>
            <div><%= message %></div>
          <% end -%>
        </div>
      <% end -%>

      <div class='row event-kinds-container mb-3 mt-4'>
        <% @event_kinds.in_groups_of(2, false).each do |event_kinds| -%>
          <div class='col-12 col-md-6'>
            <% event_kinds.each do |event_kind| -%>
              <div class='data-table'>
                <div class='data-table__header'>
                  <div class='card-header-parts'>
                    <h3 class='data-table__title'><%= event_kind_to_name(event_kind) %></h3>
                    <div class='btn-group btn-group-toggle'>
                      <% selected = @subscription && @subscription.subscribes_to_kind?(event_kind) -%>
                      <div class='custom-control custom-radio'>
                        <input id='<%= event_kind %>_on' class='custom-control-input' type='radio' name='alert_subscription[event_kinds][<%= event_kind %>]' <%= 'checked=true' unless selected %> value='off' autocomplete='off'>
                        <label for='<%= event_kind %>_on' class='custom-control-label <%= 'active' unless selected %>'>
                          Off
                        </label>
                      </div>
                      <div class='custom-control custom-radio ml-2'>
                        <input id='<%= event_kind %>_off' class='custom-control-input' type='radio' name='alert_subscription[event_kinds][<%= event_kind %>]' <%= 'checked=true' if selected %> value='on' autocomplete='off'>
                        <label for='<%= event_kind %>_off' class='custom-control-label <%= 'active' if selected %>'>
                          On
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class='card-body'>
                  <div class='info'>
                    You will receive an email up to once every <%= time_ago_in_words(ALERT_MINIMUM_TIMEOUT.ago) %>
                    about this type of event.
                  </div>

                  <div class='recent-event-count mt-4'>
                    There have been
                    <% type = livepeer_event_kind_to_type(event_kind) -%>
                    <%= @delegator_list.recent_events(type, 1.week.ago).count %> instances in the past week.
                  </div>
                </div>
              </div>
            <% end -%>
          </div>
        <% end -%>
      </div>

      <div class='d-flex flex-column align-items-center justify-content-center mt-5'>
        <% selected = @subscription && @subscription.wants_daily_digest? -%>
        <span class='text-muted text-lg'>Receive Daily Digest?</span>
        <span class='text-muted text-sm text-center daily-digest-description'>All events will be included regardless of instant notification settings above.</span>
        <div class='btn-group btn-group-toggle mt-4'>
          <div class="custom-control custom-radio mr-4">
            <input class="custom-control-input" id="alert_off" type='radio' name='alert_subscription[wants_daily_digest]' <%= 'checked=true' unless selected %> value='off' autocomplete='off'>
            <label for='alert_off' class='custom-control-label'>Off</label>
          </div>
          <div class="custom-control custom-radio">
            <input class="custom-control-input" id="alert_on" type='radio' name='alert_subscription[wants_daily_digest]' <%= 'checked=true' if selected %> value='on' autocomplete='off'>
            <label for='alert_on' class='custom-control-label'>On</label>
          </div>  
        </div>
      </div>
    <% end -%>
  </div>
</div>
