<% content_for :body_class, 'orchestrator-show' %>

<%= render partial: 'chain_header', locals: { active_tab: '', delegator_lists_link: true, events_link: true } %>

<div class='validator-header'>
  <div class='container'>
    <div class='d-flex flex-wrap'>
      <div class='validator-info pb-4'>
        <ul class='validator-info__list'>
          <li class='validator-info__item'>
            <p class='text-label validator-info__label'>Address</label>
            <p class='validator-info__value technical'><%= livepeer_explorer_link(livepeer_address(@orchestrator.address), page: :staking) %></p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class='content'>
  <div class='container'>
    <%= render partial: 'sync_errors' %>
    <% if @orchestrator.name? -%>
      <h2 class='mb-3'>
        <%= content_tag :span, @orchestrator.name, title: @orchestrator.description %>
        <% if @orchestrator.website_url? -%>
          <%= link_to heuristic_url(@orchestrator.website_url), target: '_blank', class: 'btn btn-outline-primary ml-3' do %>
            Visit Site
            <span class='fas fa-external-link-alt pl-1'></span>
          <% end -%>
        <% end -%>
      </h2>
    <% end -%>

    <div class='row'>
      <div class='col-md-12 col-lg-6 mb-4 pb-2'>
        <div class='d-flex flex-wrap'>
          <div class='mr-5 mb-4'>
            <h3 class='data-block__title'>Reward Cut</h3>
            <span class='data-block__large-number'><%= number_to_percentage(@orchestrator.reward_cut) %></span>
          </div>

          <div class='mr-5 mb-4'>
            <h3 class='data-block__title'>Fee Share</h3>
            <span class='data-block__large-number'><%= number_to_percentage(@orchestrator.fee_share) %></span>
          </div>

          <div class='mb-4'>
            <h3 class='data-block__title'>Total Stake</h3>
            <span class='data-block__large-number'><%= livepeer_lpt_amount(@orchestrator.total_stake) %></span>
          </div>
        </div>
        <a name='delegators'></a>
        <div class='data-table m-0'>
          <h5 class='data-table__header'>
            <div class='data-table__title'>Delegators</div>
          </h5>
          <div>
            <div>
              <table class='w-100' data-empty='<%= @delegators.empty? %>'>
                <thead>
                  <tr>
                    <th>Address</th>
                    <th>Stake</th>
                    <th>Share</th>
                  </tr>
                </thead>
                <tbody>
                  <% if @delegators.empty? -%>
                    <tr>
                      <td class='p-3 text-center' colspan='3'>No delegators.</td>
                    </tr>
                  <% else -%>
                    <% @delegators.each do |delegator| -%>
                      <tr>
                        <td><%= livepeer_explorer_link(delegator.address, page: :staking) %></td>
                        <td data-order='<%= delegator.pending_stake %>%'>
                          <%= livepeer_lpt_amount(delegator.pending_stake) %>
                        </td>
                        <td class='technical'><%= number_to_percentage(delegator.stake_share) %></td>
                      </tr>
                    <% end -%>
                  <% end -%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class='col-md-12 col-lg-6'>
        <a name='events'></a>
        <div class='data-table m-0'>
          <div class='data-table__header'>
            <h3 class='data-table__title'>Event History</h3>
          </div>
          <table class="w-100 event-history">
            <thead>
              <tr>
                <th>EVENT</th>
                <th>ROUND</th>
                <th>DATE</th>
              </tr>
            </thead>
            <tbody>
              <% if @events.empty? -%>
                <tr>
                  <td>
                    <p class='data-table__empty'>No events yet.</p>
                   </td>
                </tr>
              <% else -%>
                <% @events.each do |event| -%>
                  <tr>
                    <% icon_classes = "fa fa-#{event.icon_name} text-#{event.positive? ? 'success' : 'danger'}" %>
                    <%= render partial: event.to_partial_path, locals: { event: event, icon_classes: icon_classes } %>
                    <td>
                      <div class='d-flex align-items-center justify-content-between event-history__date'>
                        <%= event.timestamp.strftime("%B %d, %Y") %>
                        <%= event.timestamp.strftime("at %H:%M %Z") %>
                      </div>
                    </td>
                  </tr>
                <% end -%>
              <% end -%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
