<header class='network-chain-header pt-5'>
  <div class="container">
    <div class="d-flex align-items-center flex-wrap">
      <% if network_has_image?(@chain.network_name) -%>
        <%= link_to namespaced_path(chain: @chain), class: 'chains-list__card-link' do %>
          <%= image_tag network_image(@chain.network_name), class: "#{@chain.network_name.downcase}-img" %>
        <% end -%>
      <% else -%>
        <p class='logo-fallback'><%= @chain.network_name %></p>
      <% end -%>

      <% if defined?(grouped_visible_chains) -%>
        <div class="network-chain-header-arrow mx-3">→</div>
        <% if !@no_chain_select && grouped_visible_chains.any? %>
          <div class='dropdown chain-select mr-3'>
            <button class='dropdown-toggle' id='chain-menu-link' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
              <%= @chain.name %>
            </button>
            <div class='dropdown-menu' aria-labelledby='chain-menu-link'>
              <% grouped_visible_chains.each do |network, chains| -%>
                <div class='dropdown-label'><%= network %></div>
                <% chains.each do |chain| -%>
                  <% path = controller_name == 'dashboard' ? namespaced_path('dashboard', chain: chain) : namespaced_path(chain: chain) -%>
                  <%= link_to path, class: "dropdown-item #{'current-chain' if chain == @chain}" do %>
                    <%= chain.name %>
                  <% end -%>
                <% end -%>
                <div class='dropdown-divider'></div>
              <% end -%>
            </div>
          </div>
        <% end -%>
      <% end -%>
      <% if @chain.testnet? %>
        <div>
          <span class='data-block__title'>TESTNET</span>
          <span class='p-0 d-inline d-md-none text-muted'><span class='fas fa-vial'></span></span>
        </div>
      <% end -%>
    </div>
    <div class='tabs mt-4'>
      <%= render partial: '/shared/redesign/chain_header_link', locals: { active_tab: active_tab, link_text: 'Validators', link_path:  namespaced_path(chain: @chain), } %>
      <% if current_admin -%>
        <%= render partial: '/shared/redesign/chain_header_link', locals: { active_tab: active_tab, link_text: 'Admin', link_path:  namespaced_path(admin: true), } %>
      <% end -%>
      <% if defined? new_reports_link -%>
        <%= render partial: '/shared/redesign/chain_header_link', locals: { active_tab: active_tab, link_text: 'Rewards', link_path:  new_oasis_chain_report_path(@chain), } %>
      <% end -%>
      <% if defined? show_report_link -%>
        <%= render partial: '/shared/redesign/chain_header_link', locals: { active_tab: active_tab, link_text: 'Rewards', link_path:  oasis_chain_report_path(@chain, params[:id]), } %>
      <% end -%>
    </div>

  </div>
</header>
