<header class='network-chain-header'>
  <h1>
    <a class='secret-link' href='<%= namespaced_path %>'>
      <%= @chain.network_name %>
      <% if @chain -%>
        <small class='chain-info text-muted'>
          <span class='d-none d-md-inline'>&mdash;</span>
          <%= @chain.name %>
          <% if @chain.testnet? %>
            <span class='d-none d-md-inline badge badge-pill badge-light'>TESTNET</span>
            <span class='d-inline d-md-none text-muted'><span class='fas fa-vial'></span></span>
          <% end %>
        </small>
      <% end -%>
    </a>
  </h1>

  <div class='buttons ml-auto'>
    <% if @chain -%>
      <% if current_admin -%>
        <a class='ml-1 btn btn-info' href='<%= namespaced_path( admin: true ) %>'>
          <span class='d-none d-md-inline'>Admin</span>
          <span class='d-inline d-md-none fa fa-crown'></span>
        </a>
      <% end -%>
      <% if defined? summary_link -%>
        <a class='ml-1 btn btn-outline-secondary' href='<%= namespaced_path %>'>
          <span class='d-none d-md-inline'>Summary</span>
          <span class='d-inline d-md-none fa fa-arrow-circle-up'></span>
        </a>
      <% end -%>
      <% if defined? new_reports_link -%>
        <%= link_to new_oasis_chain_report_path(@chain), class: 'ml-1 btn btn-outline-secondary' do %>
          <span class='d-inline'>Rewards</span>
        <% end %>
      <% end -%>
      <% if defined? show_report_link -%>
        <%= link_to oasis_chain_report_path(@chain, params[:id]), class: 'ml-1 btn btn-outline-secondary' do %>
          <span class='d-inline'>Rewards</span>
        <% end %>
      <% end -%>
    <% end -%>
  </div>
</header>
