<% content_for :body_class, 'admin-users-index' %>

<div class='container'>
  <div class='row'>
    <div class='col-9'>
      <h2>Users</h2>
    </div>
    <div class='col-3'>
      <%= link_to user_index_prime_filter_text, request.params.merge(prime_only: user_index_prime_filter_value), class: 'btn btn-sm btn-outline-success' %>
    </div>
  </div>
</div>

<table class='table table-sm'>
  <thead class='thead-light'>
    <tr>
      <th>Name</th>
      <th class='extra-info'>&nbsp;</th>
      <th width='10'>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% if @users.empty? -%>
      <tr>
        <td colspan='2' class='pt-3'><strong class='text-warning'>No users!</strong></td>
      </tr>
    <% end -%>
    <% @users.find_each do |user| -%>
      <tr>
        <td>
          <%= user.name %>
          <small class='ml-2 text-muted'><%= user.email %></small>
          <% if !user.verified? -%>
            <span class='badge badge-danger'>pending</span>
          <% end -%>
          <% if user.prime? %>
            <span class='ml-2 badge badge-success'>PRIME</span>
          <% end %>
        </td>
        <td class='extra-info'></td>
        <td>
          <div class='d-flex user-list-buttons'>
            <%= button_to prime_toggle_text(user), toggle_prime_admin_user_path(user), method: 'patch', class: 'btn btn-sm btn-outline-success' %>
            <a class='btn btn-sm btn-outline-warning <%= 'disabled' if !user.verified? %>' <%= 'disabled=disabled' if !user.verified? %> href='<%= masq_admin_user_path(user) %>'>login-as</a>
            <%= link_to 'Details', admin_user_path(user), class: 'btn btn-sm btn-outline-primary' %>
          </div>
        </td>
      </tr>
    <% end -%>
  </tbody>
</table>
