<div class="block slider__item">
  <div class="block__header">
    <%= image_tag prime_network_image(network), alt: network.name.capitalize, class: "block__img" %>
    <h3 class="block__title"><%= network.name.capitalize %></h3>
    <% if enabled %>
      <div class='more-info-div'>
        <button data-target="<%= network.name %>-info-modal" class="link more-info-btn">More info</button>
      </div>
    <% end %>
  </div>
  <div class="block__content">

    <div class="block__section">
      <div class="block__row">
        <div class="block__data">
          <p class="block__label <%= enabled ? '' : 'coming-soon-label' %>">My Rewards: </p>
            <p class="block__value"> <%= enabled ? number_with_delimiter(user_network_rewards(network).round(2)) : '' %></p>
        </div>

      </div>
    </div>

    <div class="block__section">
      <div class="block__data">
        <p class="block__label <%= enabled ? '' : 'coming-soon-label' %>">Price: </p>
        <p class="block__value"> <%= enabled ? number_to_currency(network.price_usd) : '' %></p>
      </div>
    </div>

    <div class="block__section">
      <div class="block__data">
        <p class="block__label <%= enabled ? '' : 'coming-soon-label' %>">1-Day Performance: </p>
        <p class="block__value block__value--<%= enabled ? price_change_color(network.one_day_roi) : price_change_color(1) %>"> <%= enabled ? "#{number_with_delimiter(network.one_day_roi.round(2))} %" : '' %></p>
      </div>
    </div>

    <% if defined?(show_add_account_button) && show_add_account_button %>
      <% if enabled %>
        <button class="button button--secondary add-address-btn" data-target="add-<%= network.name %>-modal">
          <%= image_tag 'prime/icons/plus.svg', alt: "plus", class: "button__icon" %>
          Add address
        </button>
      <% else %>
        <button class="button button--secondary add-address-btn coming-soon" >
          Coming to Prime Soon!
        </button>
      <% end %>
    <% end %>
  </div>
</div>
