<% content_for :body_class, 'account-show' %>

<%= render partial: '/polkadot/shared/chain_header', locals: { summary_link: true } %>

<h2 class='mb-0'>
  <label class='text-muted'>Account</label>
  <span class='technical text-lg'><%= params[:id] %></span>
</h2>
<% if @account_details.display_name %>
  <h5 class='mb-4'>
    <label class='text-muted'>Owner</label>
    <span class='technical'><%= @account_details.display_name %></span>
  </h5>
<% end %>

<% if @error %>
  <%= render partial: 'shared/display_error' %>
<% else %>
  <div class='row'>
    <div class='col-12 col-md-3 order-0 order-md-1 info-cards'>
      <% @account_details.balances.each do |balance| %>
        <%= render layout: 'shared/sidebar_card', locals: { header: balance[:header] } do %>
          <%= format_amount(balance[:value], @chain, denom: @chain.class::DEFAULT_TOKEN_REMOTE) %>
        <% end %>
      <% end %>
    </div>

    <div class='col-12 col-md-9 order-1 order-md-0'>
      <section class='card'>
        <header class='card-header d-flex align-items-center justify-content-between'>
          <h4 class='m-0'>Account Details</h4>
        </header>
        <main>
          <section>
            <div class='table-responsive'>
              <table class='table table-sm'>
                <tbody>
                <% if @account_details.identity_fields.empty? %>
                  <tr>
                    <td class='p-3 text-center' colspan='2'>No account details.</td>
                  </tr>
                <% end %>

                <% @account_details.identity_fields.each do |field| %>
                  <tr>
                    <td><%= field[:label] %></td>
                    <td><%= field[:value] %></td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </section>
        </main>
      </section>

      <%= render partial: 'delegations' %>
    </div>
  </div>
<% end %>
