<% content_for :body_class, 'events-index' %>

<%= render partial: '/cosmoslike/redesign/shared/chain_header',
  locals: { active_tab: 'Events', faucet_link: true, events_link: true, reports_link: true } %>

<div class="content">
  <div class="container">
    <%= render partial: '/cosmoslike/shared/sync_errors' %>
    
    <div class='data-block'>
      <h3 class='data-block__title'>Current Block</h3>
      <div class='d-flex align-items-center flex-wrap'>
        <%= link_to namespaced_path( 'block', @latest_block ), class: "data-block__large-number mr-3" do %>
          <span class='technical'><%= @latest_block.height %></span>
        <% end -%>
        <small class='text-muted'>
          <%= @latest_block.timestamp %>
          <br/>
          <%= time_ago_in_words( @latest_block.timestamp, true ) %> ago
        </small>
      </div>
    </div>
    
    <div class='data-table mb-4'>
      <table class="w-100 event-history">
        <thead>
          <tr>
            <% if @validator.nil? %>
              <th>VALIDATOR</th>
            <% end -%>
            <th>EVENT</th>
            <th>BLOCK</th>
            <th>DATE</th>
          </tr>
        </thead>
        <tbody>
          <% if @events.empty? -%>
            <tr>
              <td colspan='4' class="data-table__empty">No events yet.</td>
            </tr>
          <% else -%>
            <% @events.each do |event| -%>
              <tr>
                <%= render partial: event.to_partial_path.sub('common/', 'common/redesign/'), locals: { event: event, icon_classes: nil } %>
                <td>
                  <div class='d-flex align-items-center justify-content-between'>
                    <%= link_to namespaced_path( 'event', event ), class: "event-history__date" do %>
                      <% date_string = event.timestamp.strftime("%B %d, %Y") -%>
                      <% time_string = event.timestamp.strftime("at %H:%M %Z") -%>
                      <%= date_string %>
                      <%= time_string %>
                    <% end -%>
                    <% if current_admin -%>
                      <div class='ml-3'>
                        <%= button_to admin_common_validator_event_path(event), method: 'delete', class: 'text-danger btn btn-link px-0', form: { class: 'd-inline' } do %>
                          <span class='fas fa-times'></span>
                        <% end -%>
                      </div>
                  <% end -%>
                  </div>
                </td>
              </tr>
            <% end -%>
          <% end -%>
          <tr>
            <td colspan="4">
              <div class='text-small text-muted'>
                <%= @pagy.from %>-<%= @pagy.to %> of <%= pluralize(@pagy.count, 'total event') %>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
      

    <div class='mt-5'>
      <%== pagy_bootstrap_nav(@pagy).html_safe %>
    </div>
  </div>
</div>
